<footer class="footerstyles text-center">
      <div class="row abcded">
        <div class="col-md-6 col-lg-6 addheight">
                <img class="addslogo" src="assets/icon/footeradds.svg">
        </div>
        <div class="col-md-6 col-lg-6">
            <img class="addslogo" src="assets/icon/footeradds.svg">
        </div>
    <!--<button class="navbarbuttons tournamentsbutton" [routerLink]="['/TOURNAMENTS']">
          <b class="namebb">TOURNAMENTS</b>
    </button>
    <button class="navbarbuttons" [routerLink]="['/playerRegistration']">
        <b class="namebb">PLAYERS</b>
    </button>
    <button class="navbarbuttons" [routerLink]="['/CLUBS']">
          <b class="namebb">CLUBS</b>
    </button>
    <button class="navbarbuttons" [routerLink]="['/SHOPPING']">
          <b class="namebb">SHOPPING</b>
    </button>
    <button class="navbarbuttons" [routerLink]="['/CLINICS&TRAININGUBS']">
          <b class="namebb">CLINICS&TRAININGUBS</b>
    </button>-->
  </div>
  <div class="footerheading">PICKLEBALL</div>
  </footer>
