<div class="container">
   <button (click)="LogOut()" class="navbarbuttons logout">
          <b class="mibtn" >LogOut</b>
    </button> 
  <!-- <div class="dropdown ">
  <button md-button (click)="settings()" class="dropbtn navbarbuttons mibtn" ><b class="mibtn">Settings</b></button>
  <div class="dropdown-content">
    <a style="cursor:pointer" (click)="changePassword()">Change Password</a>
    <a style="cursor:pointer" (click)="LogOut()">LogOut</a>
  </div>
</div> -->
  <div class="main-page-profile" style="background-image: url(assets/icon/background-player.jpg);">
    <div class="player-details row">
      <div></div>
      <div class="col-md-5 row roadstar">
        <!--<div></div>-->

        <div class="playerimg-info" >
          <!--<label class="uploader">
            
            <img *ngIf="playerDetails.PublicProfile && playerDetails.PublicProfile.ProfilePic!==undefined" class="player-img" src={{playerDetails.PublicProfile.ProfilePic}}>
           <img *ngIf="playerDetails.PublicProfile===undefined || playerDetails.PublicProfile.ProfilePic===undefined" class="player-img" src="assets/icon/player.png">
       <input type="file" class="upLoadStyles" (change)="upLoadPlayerImg($event)"/>
       </label>-->
        <div class="show-pic">
            <img *ngIf="playerDetails.PublicProfile===undefined || playerDetails.PublicProfile.ProfilePic===undefined" class="player-img" src="assets/icon/player.png">
               <img *ngIf="playerDetails.PublicProfile && playerDetails.PublicProfile.ProfilePic!==undefined" class="player-img" src={{playerDetails.PublicProfile.ProfilePic}}>
           <!--<img  *ngIf="uploadgif" src="assets/icon/uploadgif.svg" class="player-img">-->
             <div class="upload-pic">
               <label class="mahi-label row">
                 <img src="assets/icon/camera.svg" class="camera-mahi">
                 <p class="mahi-name">Update Profile Picture</p>
                 <input type="file" class="upLoadStyles" (change)="upLoadPlayerImg($event)"/>
               </label>
             </div>
              <div style="width:30px;height:20px; margin-top: -212px; margin-left: -66px;" *ngIf = "playerHomePageobj.showImage">
                <img  src="assets/icon/loading.png">
              </div>
          </div>
          <!--<input type="file" [(ngModel)]="upLoadFile">-->


        </div>
        <div class="column main-clsf">
          <p class="h4 player-name">{{playerDetails.FirstName}}</p>
          <p class="h4 player-name1"> {{playerDetails.LastName}}</p>
        </div>
      </div>
      <div (click)="upLoadPlayerImg()" class="col-md-7" style="padding-left:0px;">
        <div class="row right-div">
          <div class="main-date">
            <p class="player-key">HomeTown</p>
            <p *ngIf = 'playerDetails.PublicProfile' class="h3 player-value">{{playerDetails.PublicProfile.HomeTown}}</p>
          </div>
          <div class="main-place">
            <p class="player-key">Nationality</p>
            <p class="h3 player-value">{{playerDetails.Country}}</p>
          </div>
          <div class="main-plays">
            <p class="player-key">Plays</p>
            <p *ngIf = 'playerDetails.PublicProfile' class="h3 player-value">{{playerDetails.PublicProfile['Swings']}}</p>
          </div>
        </div>

      </div>
    </div>


  </div>
  <div class="profilename">
    <p class="h3 profilenameptag">PROFILE</p>
  </div>
  <div class="row player-tabs">
    <button type="button" class="btn  btn-lg player-inform" [ngClass]="{'myactive':playerHomePageobj.show === 1}" (click)="tournmentprofile()">TOURNAMENT PROFILE</button>
    <button type="button" class="btn  btn-lg player-inform" [ngClass]="{'myactive':playerHomePageobj.show === 2}" (click)="publicprofile()">PUBLIC PROFILE</button>
    <button type="button" class="btn  btn-lg player-inform" [ngClass]="{'myactive':playerHomePageobj.show === 3}" (click)="photos()">PHOTOS</button>
  </div>
  <div class="main-ptl">
    <!--Player Tournament Profile view div-->

    <div *ngIf="playerHomePageobj.show === 1">
      <!--player tournament prfile deailse1-->
      <div *ngIf="playerHomePageobj.EditTournamentProfile1===0">
        <div class="row">
          <p class="player-dtl">PLAYER DETAILS :</p>
          <p style="margin-top: 30px;cursor:pointer" (click)="editTournamentProfile(1)">
            <img class="Editclass" src="assets/icon/Edit.svg"><span class="edittext">Edit</span>
          </p>
        </div>
        <div class="row mypadd-class">
          <h3 class="quest">FirstName</h3>
          <span style="padding-left: 23px;"></span>
          <span class="child-valuee"><strong>{{playerDetails.FirstName}}</strong></span>
        </div>
        <div class="row mypadd-class">
          <h3 class="quest">LastName</h3>
          <span style="padding-left: 23px;"></span>
          <span class="child-valuee"><strong>{{playerDetails.LastName}}</strong></span>
        </div>
        <div class="row mypadd-class">
          <h3 class="quest">Email</h3>
          <span style="padding-left: 23px;"></span>
          <span class="child-valuee"><strong>{{playerDetails.email}}</strong></span>
        </div>
        <div class="row mypadd-class">
          <h3 class="quest">UserName</h3>
          <span style="padding-left: 23px;"></span>
          <span class="child-valuee"><strong>{{playerDetails.UserName}}</strong></span>
        </div>
        <div class="row mypadd-class">
          <h3 class="quest">Gender</h3>
          <span style="padding-left: 23px;"></span>
          <span class="child-valuee"><strong>{{playerDetails.Gender}}</strong></span>
        </div>
        <div class="row mypadd-class">
          <h3 class="quest">T-ShirtSize</h3>
          <span style="padding-left: 23px;"></span>
          <span class="child-valuee"><strong>{{playerDetails.TShirtSize}}</strong></span>
        </div>
        <div class="row mypadd-class">
          <h3 class="quest">Date Of Birth</h3>
          <span style="padding-left: 23px;"></span>
          <span class="child-valuee"><strong>{{playerDetails.BirthDate}}</strong></span>
        </div>
      </div>






      <!--player tournament prfile deailse1 edit-->
      <div *ngIf="playerHomePageobj.EditTournamentProfile1===1">
        <div>
          <p class="player-dtl">PLAYER DETAILS :</p>
        </div>
        <div class="row common-cls">
          <label for="first_name" class="col-md-3 col-form-label mr-2">First Name</label>
          <div class="col-xs-8 padclasss">
            <input type="text" class="form-control myfavinput" placeholder="First Name" [(ngModel)]="playerHomePageobj.EditTournamentform.FirstName">
          </div>
        </div>
        <div class="row common-cls">
          <label for="last_name" class="col-md-3 col-form-label mr-2">Last Name</label>
          <div class="col-xs-8 padclasss">
            <input type="text" class="form-control myfavinput" placeholder="Last Name" [(ngModel)]="playerHomePageobj.EditTournamentform.LastName">
          </div>
        </div>
        <div class="row common-cls">
          <label for="last_name" class="col-md-3 col-form-label mr-2">User Name</label>
          <div class="col-xs-8 padclasss">
            <input type="text" class="form-control myfavinput" placeholder="User Name" [(ngModel)]="playerHomePageobj.EditTournamentform.UserName">
          </div>
        </div>
        <div class="row common-cls">
          <label for="last_name" class="col-md-3 col-form-label mr-2">Email</label>
          <div class="col-xs-8 padclasss">
            <input type="text" class="form-control myfavinput" placeholder="email" [(ngModel)]="playerHomePageobj.EditTournamentform.email">
          </div>
        </div>

        <div class="row common-cls">
          <label for="last_name" class="col-md-3 col-form-label mr-2">Gender <span class="star">*</span></label>
          <select class="maindropdownfirst" [(ngModel)]="playerHomePageobj.EditTournamentform.Gender">
                             <option selected disabled>Select Gender</option>
                              <option  value="Male">Male</option>
                              <option  value="Female">Female</option>
                            </select>
        </div>
         <div class="row common-cls">
                <label for="last_name" class="col-md-3 col-form-label mr-2">T Shirt Size <span class="star">*</span></label>
                <select class="maindropdownfirst" [(ngModel)]="playerHomePageobj.EditTournamentform.TShirtSize">
                             <option selected disabled>Select T Shirt Size</option>
                              <option  value="Small">Small</option>
                              <option  value="Medium">Medium</option>
                              <option  value="Large">Large</option>
                              <option  value="XL">XL</option>
                              <option  value="XXl">XXL</option>
                            </select>
              </div>
        <!--<div class="row common-cls">
                          <label for="last_name" class="col-md-3 col-form-label mr-2">Password</label>
                          <div class="col-xs-9">
                                <input type="Password" class="form-control myfavinput" placeholder="Password" [(ngModel)]="playerHomePageobj.EditTournamentform.password">
                          </div>
                        </div>-->
        <!--<div class="row common-cls">
                          <label for="last_name" class="col-md-3 col-form-label mr-2">Conform Password</label>
                          <div class="col-xs-9">
                                <input type="Password" class="form-control myfavinput" placeholder="Conform Password" [(ngModel)]="playerHomePageobj.EditTournamentform.Confarmpassword">
                          </div>
                        </div>-->
        <div class="row myclass-div">
          <label for="last_name" class="col-md-3 col-form-label" style="margin-right: 3px;">Date Of Birth</label>
          <select class="maindropdown" [(ngModel)]="playerHomePageobj.EditTournamentform.DOBDate">
                              <option selected disabled>select Date</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            </select>
          <select class="maindropdown" [(ngModel)]="playerHomePageobj.EditTournamentform.DOBMonth">
                              <option selected disabled>select Month</option>
                              <option value="January">January</option>
                              <option value="February">February</option>
                              <option value="March">March</option>
                              <option value="April">April</option>
                              <option value="May">May</option>
                              <option value="June">June</option>
                              <option value="July">July</option>
                              <option value="August">August</option>
                              <option value="September">September</option>
                              <option value="October">October</option>
                              <option value="November">November</option>
                              <option value="December">December</option>
                            </select>
                              
                              <select class="maindropdown" [(ngModel)]="playerHomePageobj.EditTournamentform.DOBYear">
                                <option selected disabled>select Year</option>
                                <option *ngFor="let year of getYear()" getYear value={{year}}>{{year}}</option>
                            </select>
          <!--<md-input-container class="maindropdownfirst paddclass">
            <input mdInput [mdDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="playerHomePageobj.EditTournamentform.BirthDate">
            <button mdSuffix [mdDatepickerToggle]="picker"></button>
          </md-input-container>
          <md-datepicker touchUi="true" #picker></md-datepicker>-->
        </div>
        <div class="row mybtnsub">
          <div>
            <button class="btn btn-default submitbtns" (click)="saveTournamenteditdata(1)">Save</button>
          </div>
          <div>
            <button class="btn btn-default submitbtns" (click)="CancelEditTournament(1)">Cancel</button>
          </div>
        </div>
      </div>

      <!--player tournament prfile deailse2-->
      <div *ngIf="playerHomePageobj.EditTournamentProfile2===0">
        <div class="row">
          <p class="player-dtl">CONTACTS :</p>
          <p style="margin-top: 30px;cursor:pointer" (click)="editTournamentProfile(2)">
            <img class="Editclass" src="assets/icon/Edit.svg"><span class="edittext">Edit</span>
          </p>
        </div>
        <div class="row mypadd-class">
          <h3 class="quest">Address Line1</h3>
          <span style="padding-left: 23px;">
                                  </span>
          <span class="child-valuee"><strong>{{playerDetails.Address1}}</strong></span>

        </div>
        <div class="row mypadd-class">
          <h3 class="quest">Address Line2</h3>
          <span style="padding-left: 23px;">
                                  </span>
          <span class="child-valuee"><strong>{{playerDetails.Address2}}</strong></span>

        </div>
        <div class="row mypadd-class">
          <h3 class="quest">City</h3>
          <span style="padding-left: 23px;">
                                  </span>
          <span class="child-valuee"><strong>{{playerDetails.City}}</strong></span>

        </div>
        <div class="row mypadd-class">
          <h3 class="quest">State</h3>
          <span style="padding-left: 23px;">
                                  </span>
          <span class="child-valuee"><strong>{{playerDetails.State}}</strong></span>

        </div>
        <div class="row mypadd-class">
          <h3 class="quest">Country</h3>
          <span style="padding-left: 23px;">
                                  </span>
          <span class="child-valuee"><strong>{{playerDetails.Country}}</strong></span>

        </div>
        <div class="row mypadd-class">
          <h3 class="quest">PostalCode</h3>
          <span style="padding-left: 23px;">
                                  </span>
          <span class="child-valuee"><strong>{{playerDetails.PostalCode}}</strong></span>

        </div>


        <div class="row mypadd-class">
          <h3 class="quest">Phone Number</h3>
          <span style="padding-left: 23px;">
                                  </span>
          <span class="child-valuee"><strong>{{playerDetails.Phone}}</strong></span>

        </div>
        <div class="row mypadd-class">
          <h3 class="quest">Emergency Contact Name</h3>
          <span style="padding-left: 23px;">
                                  </span>
          <span class="child-valuee"><strong>{{playerDetails.EmergencyContactName}}</strong></span>

        </div>
        <div class="row mypadd-class">
          <h3 class="quest">Emergency Contact
            <div [ngClass]="{className1: expression1, className2: expression2}">

            </div>
          </h3>
          <span style="padding-left: 23px;">
                                  </span>
          <span class="child-valuee"><strong>{{playerDetails.EmergencyContact}}</strong></span>

        </div>
      </div>
      <!--player tournament prfile deailse2 edit-->
      <div *ngIf="playerHomePageobj.EditTournamentProfile2===1">
        <div>
          <p class="player-dtl2">CONTACTS :</p>
        </div>
        <div class="row common-cls">
          <label for="first_name" class="col-md-3 col-form-label mr-2">Address Line1</label>
          <div class="col-xs-8 padclasss">
            <input type="text" class="form-control myfavinput" [(ngModel)]="playerHomePageobj.EditTournamentform.Address1" placeholder="Address Line1">
          </div>
        </div>
        <div class="row common-cls">
          <label for="last_name" class="col-md-3 col-form-label mr-2">Address line2</label>
          <div class="col-xs-8 padclasss">
            <input type="text" class="form-control myfavinput" [(ngModel)]="playerHomePageobj.EditTournamentform.Address2" placeholder="Address Line2">
          </div>
        </div>
        <div class="row common-cls">
          <label for="last_name" class="col-md-3 col-form-label mr-2">City</label>
          <div class="col-xs-8 padclasss">
            <input type="text" class="form-control myfavinput" [(ngModel)]="playerHomePageobj.EditTournamentform.City" placeholder="City">
          </div>
        </div>
        <div class="row myclass-div">
          <label for="last_name" class="col-md-3 col-form-label ">State</label>
          <select class="maindropdown2edit" [(ngModel)]="playerHomePageobj.EditTournamentform.State">
                             <option selected disabled>select State</option>
                              <option  *ngFor="let state of playerHomePageobj.states" value={{state.State}}>{{state.State}}</option>
                              <!--<option  value="Hawaii">Hawaii</option>
                              <option  value="Florida">Florida</option>
                              <option  value="Texas">Texas</option>
                              <option  value="Massachusetts">Massachusetts</option>
                              <option  value="Alaska">Alaska</option>
                              <option  value="Alabama">Alabama</option>
                              <option  value="Georgia">Georgia</option>
                              <option  value="Minnesota">Minnesota</option>
                              <option  value="North Carolina">North Carolina</option>
                              <option  value="Pennsylvania">Pennsylvania</option>-->
                            </select>
        </div>
        <div class="row common-cls">
          <label for="last_name" class="col-md-3 col-form-label mr-2">Postal Code</label>
          <div class="col-xs-8 padclasss">
            <input type="number" class="form-control myfavinput" [(ngModel)]="playerHomePageobj.EditTournamentform.PostalCode" placeholder="Postal Code">
          </div>
        </div>
        <div class="row myclass-div">
          <label for="last_name" class="col-md-3 col-form-label ">Country</label>
          <select class="maindropdown2edit" [(ngModel)]="playerHomePageobj.EditTournamentform.Country">
                              <option selected disabled>select Country</option>
                              <option  *ngFor="let country of playerHomePageobj.countries" value={{country.Country}}>{{country.Country}}</option>
                            </select>
        </div>
        <div class="row common-cls">
          <label for="first_name" class="col-md-3 col-form-label mr-2">Phone number</label>
          <div class="col-xs-8 padclasss">
            <input type="number" class="form-control myfavinput" [(ngModel)]="playerHomePageobj.EditTournamentform.Phone" placeholder="Phone number">
          </div>
        </div>
        <div class="row common-cls">
          <label for="last_name" class="col-md-3 col-form-label mr-2">Emergency Contact Name</label>
          <div class="col-xs-8 padclasss">
            <input type="text" class="form-control myfavinput" [(ngModel)]="playerHomePageobj.EditTournamentform.EmergencyContactName"
              placeholder="Emergency Contact Name">
          </div>
        </div>
        <div class="row common-cls">
          <label for="last_name" class="col-md-3 col-form-label mr-2">Emergency Contact Number</label>
          <div class="col-xs-8 padclasss">
            <input type="number" class="form-control myfavinput" [(ngModel)]="playerHomePageobj.EditTournamentform.EmergencyContact"
              placeholder="Emergency Contact Number">
          </div>
        </div>
        <div class="row mybtnsub">
          <div>
            <button class="btn btn-default submitbtns" (click)="saveTournamenteditdata(2)">Save</button>
          </div>
          <div>
            <button class="btn btn-default submitbtns" (click)="CancelEditTournament(2)">Cancel</button>
          </div>
        </div>
      </div>
      <!--player tournament prfile deailse3-->
      <div *ngIf="playerHomePageobj.EditTournamentProfile3===0">
        <div class="row">
          <p class="player-dtl">MEMBERSHIP AND RATING INFORMATION:</p>
          <p style="margin-top: 30px;cursor:pointer" (click)="editTournamentProfile(3)">
            <img class="Editclass" src="assets/icon/Edit.svg"><span class="edittext">Edit</span>
          </p>
        </div>
        <div class="row mypadd-class">
          <h3 class="quest">Club</h3>
          <span style="padding-left: 23px;">
                                  </span>
          <span class="child-valuee"><strong>{{playerDetails.Club}}</strong></span>

        </div>
        <div class="row mypadd-class">
          <h3 class="quest">Singles Skill Level</h3>
          <span style="padding-left: 23px;">
                                  </span>
          <span class="child-valuee"><strong>{{playerDetails.SinglesSkillLevel}}</strong></span>

        </div>
        <div class="row mypadd-class">
          <h3 class="quest">Doubles Skill Level</h3>
          <span style="padding-left: 23px;">
                                  </span>
          <span class="child-valuee"><strong>{{playerDetails.DoublesSkillLevel}}</strong></span>

        </div>

        <!--<div class="row mypadd-class">
          <h3 class="quest">Skill Rating By</h3>
          <span style="padding-left: 23px;">
                                  </span>
          <span class="child-valuee"><strong>{{playerDetails.SkillRatingBy}}</strong></span>

        </div>-->

        <div class="row mypadd-class">
          <h3 class="quest">USAPA Member Number</h3>
          <span style="padding-left: 23px;">
                                  </span>
          <span class="child-valuee"><strong>{{playerDetails.USAPAMemberNumber}}</strong></span>

        </div>
      </div>
      <!--player tournament prfile deailse3 edit-->
      <div *ngIf="playerHomePageobj.EditTournamentProfile3===1">
        <div>
          <p class="player-dtl4">MEMBERSHIP AND RATING INFORMATION :</p>
        </div>
        <div class="row common-cls">
          <label for="first_name" class="col-md-5 col-form-label mr-3">Club</label>
          <div class="col-xs-6 padclasss">
            <input type="text" class="form-control myfavinput" [(ngModel)]="playerHomePageobj.EditTournamentform.Club" placeholder="Club Name">
          </div>
        </div>
        <div class="row myclass-div">
          <label for="last_name" class="col-md-5 col-form-label ">Singles Skill Level</label>
          <select class="maindropdown2edit" [(ngModel)]="playerHomePageobj.EditTournamentform.SinglesSkillLevel">
                              <option selected disabled>select Skill Level</option>
                              
                              <option  value="N/A">N/A</option>
                              <option  value="3.0">3.0</option>
                              <option  value="3.5">3.5</option>
                              <option  value="4.0">4.0</option>
                              <option  value="4.5">4.5</option>
                              <option  value="5.0">5.0</option>
                            </select>
        </div>
        <div class="row myclass-div">
          <label for="last_name" class="col-md-5 col-form-label ">Doubles Skill Level</label>
          <select class="maindropdown2edit" [(ngModel)]="playerHomePageobj.EditTournamentform.DoublesSkillLevel">
                                <option selected disabled>Select Skill Level</option>
                                <option  value="N/A">N/A</option>
                              <option  value="3.0">3.0</option>
                              <option  value="3.5">3.5</option>
                              <option  value="4.0">4.0</option>
                              <option  value="4.5">4.5</option>
                              <option  value="5.0">5.0</option>
                            </select>
        </div>
        <div class="row common-cls">
          <label for="last_name" class="col-md-5 col-form-label mr-3">USAPA Member Number</label>
          <div class="col-xs-6 padclasss">
            <input type="number" class="form-control myfavinput" [(ngModel)]="playerHomePageobj.EditTournamentform.USAPAMemberNumber"
              placeholder="USAPA Member Number">
          </div>
        </div>

        <div class="row mybtnsub">
          <div>
            <button class="btn btn-default submitbtns" (click)="saveTournamenteditdata(3)">Save</button>
          </div>
          <div>
            <button class="btn btn-default submitbtns" (click)="CancelEditTournament(3)">Cancel</button>
          </div>
        </div>
      </div>

    </div>

    <!--player public profile view and edit div -->
    <div *ngIf="playerHomePageobj.show===2">

       <div *ngIf="playerHomePageobj.AddPublicProfile===0 && playerHomePageobj.PublicProfileLength=== 0" style="padding: 3%;">
          
           <div>
          <p style="margin-top: 0px;cursor:pointer;float:right;" (click)="editTournamentProfile(4)">
            <img class="Editclass" src="assets/icon/Edit.svg"><span class="edittext">Edit</span>
          </p>
        </div>
          
          <!--<md-list dense>
            <md-list-item class="player-list mat-elevation-z1" (click)="editTournamentProfile(4)">
                   <span>Click Here To Provide The Public Profile Information</span> 
               </md-list-item>
            </md-list>-->
          </div>




        <!--<div *ngIf="playerHomePageobj.AddPublicProfile===0 && playerHomePageobj.PublicProfileLength=== 0" style="padding: 3%;">
          <h1 (click)="editTournamentProfile(4)">Click Here To Provide The Public Profile Information</h1>
        </div>-->
      

      <!--PUBLIC PROFILE lable and value -->
      <div *ngIf="playerHomePageobj.AddPublicProfile===0 && playerHomePageobj.PublicProfileLength!==0" style="padding: 3%;">
        <div>
          <p style="margin-top: 0px;cursor:pointer;float:right;" (click)="editTournamentProfile(4)">
            <img class="Editclass" src="assets/icon/Edit.svg"><span class="edittext">Edit</span>
          </p>
        </div>
          <div class="row mypadd-class">
            <h3 class="quest1">Home Town</h3>
            <span style="padding-left: 23px;">
                                                </span>
            <span class="child-valuee"><strong>{{playerDetails.PublicProfile.HomeTown}}</strong></span>

          </div>
          <div class="row mypadd-class">
            <h3 class="quest1">Swings</h3>
            <span style="padding-left: 23px;">
                                                </span>
            <span class="child-valuee"><strong>{{playerDetails.PublicProfile.Swings}}</strong></span>

          </div>
          <div class="row mypadd-class">
            <h3 class="quest1">Home Club</h3>
            <span style="padding-left: 23px;">
                                                </span>
            <span class="child-valuee"><strong>{{playerDetails.PublicProfile.HomeClub}}</strong></span>

          </div>
          <div class="row mypadd-class">
            <h3 class="quest1">Sponsored Club</h3>
            <span style="padding-left: 23px;">
                                                </span>
            <span class="child-valuee"><strong>{{playerDetails.PublicProfile.SponsoredClub}}</strong></span>

          </div>
          <div class="row mypadd-class">
            <h3 class="quest1">Indoor/Outdoor Preference</h3>
            <span style="padding-left: 23px;">
                                                </span>
            <span class="child-valuee"><strong>{{playerDetails.PublicProfile.IndoorOutdoorPreference}}</strong></span>

          </div>
          <div class="row mypadd-class">
            <h3 class="quest1">Favorite Paddle</h3>
            <span style="padding-left: 23px;">
                                                </span>
            <span class="child-valuee"><strong>{{playerDetails.PublicProfile.FavoritePaddle}}</strong></span>

          </div>
          <div class="row mypadd-class">
            <h3 class="quest1">How long have you been playing</h3>
            <span style="padding-left: 23px;">
                                                </span>
            <span class="child-valuee"><strong>{{playerDetails.PublicProfile.BeenPlaying}}</strong></span>

          </div>
          <div class="row mypadd-class">
            <h3 class="quest1">Favorite Facility/location Play</h3>
            <span style="padding-left: 23px;">
                                                </span>
            <span class="child-valuee"><strong>{{playerDetails.PublicProfile.FavoriteFacility}}</strong></span>

          </div>
          <div class="row mypadd-class">
            <h3 class="quest1">Furthest Location /Tournament you have traveled To Play</h3>
            <span style="padding-left: 23px;">
                                                </span>
            <span class="child-valuee"><strong>{{playerDetails.PublicProfile.FurthestLocation}}</strong></span>

          </div>
          <div class="row mypadd-class">
            <h3 class="quest1">Wins that you are most proud of</h3>
            <span style="padding-left: 23px;">
                                                </span>
            <span class="child-valuee"><strong>{{playerDetails.PublicProfile.MostProud}}</strong></span>

          </div>
          <div class="row mypadd-class">
            <h3 class="quest1">Singles/Doubles preference</h3>
            <span style="padding-left: 23px;">
                                                </span>
            <span class="child-valuee"><strong>{{playerDetails.PublicProfile.SinglesDoubles}}</strong></span>

          </div>
          <div class="row mypadd-class">
            <h3 class="quest1">Misc information to know</h3>
            <span style="padding-left: 23px;">
                                                </span>
            <span class="child-valuee"><strong>{{playerDetails.PublicProfile.MiscInformation}}</strong></span>

          </div>
      </div>

      
      <!--Edit PUBLIC PROFILE values-->
      <div *ngIf="playerHomePageobj.AddPublicProfile===1">
        <div class="row common-clspublic">
            <label for="first_name" class="col-md-4 col-form-label form2 mr-2">Home Town</label>
            <div class="col-md-7 col-xs-12">
              <input type="text" class="form-control  myfavinput" [(ngModel)]="playerDetails.PublicProfile.HomeTown">
            </div>
          </div>
          <div class="row common-clspublic">


            <label for="first_name" class="col-md-4 col-form-label form2 mr-2">Swings</label>
              <div class="col-md-7 col-xs-12">
                <select class="maindropdownfirst" [(ngModel)]="playerDetails.PublicProfile.Swings">
                             <option selected disabled>Select Swings</option>
                              <option  value="Right Handed">Right Handed</option>
                              <option  value="Left Handed">Left Handed</option>
                              <option  value="Both">Both</option>
                            </select>
                <!--<input type="text" class="form-control myfavinput" [(ngModel)]="TournamentFormObj.Swings">-->
              </div>
            <!--<label for="first_name" class="col-md-6 col-form-label form2 mr-2">Swings </label>
            <div class="col-xs-9">
              <input type="text" class="form-control  myfavinput" [(ngModel)]="playerDetails.PublicProfile.Swings">
            </div>-->
          </div>
          <div class="row common-clspublic">
            <label for="first_name" class="col-md-4 col-form-label form2 mr-2">Home Club</label>
            <div class="col-md-7 col-xs-12">
              <input type="text" class="form-control  myfavinput" [(ngModel)]="playerDetails.PublicProfile.HomeClub">
            </div>
          </div>
          <div class="row common-clspublic">
            <label for="first_name" class="col-md-4 col-form-label form2 mr-2">Sponsored Club</label>
            <div class="col-md-7 col-xs-12">
              <input type="text" class="form-control  myfavinput" [(ngModel)]="playerDetails.PublicProfile.SponsoredClub">
            </div>
          </div>
          <div class="row common-clspublic">
            <label for="first_name" class="col-md-4 col-form-label form2 mr-2">Indoor/OutdoorPreference</label>
            <div class="col-xs-7">
              <input type="text" class="form-control  myfavinput" [(ngModel)]="playerDetails.PublicProfile.IndoorOutdoorPreference">
            </div>
          </div>
          <div class="row common-clspublic">
            <label for="first_name" class="col-md-4 col-form-label form2 mr-2">Favorite Paddle</label>
            <div class="col-xs-7">
              <input type="text" class="form-control  myfavinput" [(ngModel)]="playerDetails.PublicProfile.FavoritePaddle">
            </div>
          </div>
          <div class="row common-clspublic">
            <label for="first_name" class="col-md-4 col-form-label form2 mr-2">How long have you been playing</label>
            <div class="col-xs-7">
              <input type="text" class="form-control  myfavinput" [(ngModel)]="playerDetails.PublicProfile.BeenPlaying">
            </div>
          </div>
      


      <!--<div class="row common-clspublic">
         <p class="textlabel">Favorite facility/Location to play </p>
            <!--<label for="first_name" class="col-md-6 col-form-label form2 mr-2">Favorite Paddle</label>-->
            <!--<div class="col-xs-9">
              <textarea type="text" rows="5" cols="70" class="form-control myfavinput" [(ngModel)]="playerDetails.PublicProfile.FavoriteFacility">
                              </textarea>
            </div>
          </div>-->


          
          <!--<div class="row common-clspublic">
            <label for="first_name" class="col-md-6 col-form-label form2 mr-2">How long have you been playing</label>
            <div class="col-xs-9">
              <textarea type="text" class="form-control myfavinput" [(ngModel)]="playerDetails.PublicProfile.BeenPlaying">
                              </textarea>
            </div>
          </div>-->
          <div class="common-clspublic textarea-pad">
             <p class="textlabel">Favorite facility/Location to play</p>
            <!--<label for="first_name" class="col-md-6 col-form-label form2 mr-2">Favorite facility/Location to play</label>-->
            <div>
              <textarea type="text" rows="5" cols="70" class="form-control myfavinput1" [(ngModel)]="playerDetails.PublicProfile.FavoriteFacility" maxlength="150">
                                </textarea>
            </div>
          </div>
          <div class="common-clspublic textarea-pad">
            <p class="textlabel">Furthest location/Tournament you have traveled to play</p>
            <!--<label for="first_name" class="col-md-6 col-form-label form2 mr-2">Furthest location/Tournament you have traveled to play</label>-->
            <div>
              <textarea type="text" rows="5" cols="70" class="form-control myfavinput1" [(ngModel)]="playerDetails.PublicProfile.FurthestLocation" maxlength="150">
                              </textarea>
            </div>
          </div>
          <div class="common-clspublic textarea-pad">
            <p class="textlabel">Wins that you are most proud of</p>
            <!--<label for="first_name" class="col-md-6 col-form-label form2 mr-2">Wins that you are most proud of</label>-->
            <div>
              <textarea type="text" rows="5" cols="70" class="form-control myfavinput1" [(ngModel)]="playerDetails.PublicProfile.MostProud" maxlength="150">
                                </textarea>
            </div>
          </div>
          <div class="common-clspublic textarea-pad">
            <p class="textlabel">Singles/Doubles preference</p>
            <!--<label for="first_name" class="col-md-6 col-form-label form2 mr-2">Singles/Doubles preference</label>-->
            <div>
              <textarea type="text" rows="5" cols="70" class="form-control myfavinput1" [(ngModel)]="playerDetails.PublicProfile.SinglesDoubles" maxlength="150">
                              </textarea>
            </div>
          </div>
          <div class="common-clspublic textarea-pad">
            <p class="textlabel">Misc information to know</p>
            <!--<label for="first_name" class="col-md-6 col-form-label form2 mr-2">Misc information to know</label>-->
            <div>
              <textarea type="text"  rows="5" cols="70" class="form-control myfavinput1" [(ngModel)]="playerDetails.PublicProfile.MiscInformation" maxlength="150">
                              </textarea>
            </div>
          </div>

          <div class="row mybtnsub">
          <div>
            <button class="btn btn-default submitbtns" (click)="saveTournamenteditdata(4)">Save</button>
          </div>
          <div>
            <button class="btn btn-default submitbtns" (click)="CancelEditTournament(4)">Cancel</button>
          </div>
        </div>
        </div>


    </div>

    <!--player photes-->
    <div *ngIf="playerHomePageobj.show === 3;">
      <div class="row" style="margin: 3%;">
        <div class="col-md-3" style="padding:6px;">
          <div class="thumbnail">
            <label class="uploader">
                <img class="player-img" src="assets/icon/player.png">
                <input type="file" class="upLoadStyles" (change)="upLoadPlayerImg($event,1)" multiple/>
                </label>
            <!--<img class="player-img" src="assets/icon/player.png" style="width: 100%;">-->
          </div>
        </div>
        <div class="row" *ngIf="playerDetails.Photos && playerDetails.Photos.length!==0" >
        <div *ngFor="let photo of playerDetails.Photos" class="col-md-3" style="padding:6px;">
          <div class="uploadImd">
            <label class="uploader">
                <img class="player-img" src={{photo}}>
                
                <!--<input type="file" class="upLoadStyles" (change)="upLoadPlayerImg($event)"/>-->
                </label>
               
            <!--<img class="player-img" src="assets/icon/player.png" style="width: 100%;">-->
          </div>
           <button class="imgDelete" (click)="DeleteImgs(photo)">Delete</button>
        </div>
        </div>
        <!--<div class="col-md-2" style="padding:6px;" >
                <div class="thumbnail">
                    <img class="player-img" src="assets/icon/player.png" style="width: 100%;">
                </div>
              </div>
               <div class="col-md-2" style="padding:6px;" >
                <div class="thumbnail">
                    <img class="player-img" src="assets/icon/player.png" style="width: 100%;">
                </div>
              </div>-->
      </div>


     <div class="container" class="text-center">
  <div class="row">
    <div class="col-sm-6" style="width:100%!important">
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img  src="assets/images/federer1.jpg">
                </div>
                <div class="item">
                    <img src="assets/images/federer2.jpg">
                </div>
                <div class="item">
                    <img src="assets/images/federer3.jpg">
                </div>
                <div class="item">
                    <img src="assets/images/federer1.jpg">
                </div>
                <div class="item">
                    <img src="assets/images/federer1.jpg">
                </div>
                <div class="item">
                    <img src="assets/images/federer2.jpg">
                </div>
                <div class="item">
                    <img src="assets/images/federer3.jpg">
                </div>
                <div class="item">
                    <img src="assets/images/federer1.jpg">
                </div>
            </div>
             <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div> 
    <div class="clearfix">
        <div id="thumbcarousel" class="carousel slide" data-interval="false">
            <div class="carousel-inner">
                <div class="item active">
                    <div data-target="#carousel" data-slide-to="0" class="thumb"><img src="assets/images/federer1.jpg"></div>
                    <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="assets/images/federer2.jpg"></div>
                    <div data-target="#carousel" data-slide-to="2" class="thumb"><img src="assets/images/federer3.jpg"></div>
                    <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="assets/images/federer1.jpg"></div>
                </div><!-- /item -->
                <div class="item">
                    <div data-target="#carousel" data-slide-to="4" class="thumb"><img src="assets/images/federer1.jpg"></div>
                    <div data-target="#carousel" data-slide-to="5" class="thumb"><img src="assets/images/federer2.jpg"></div>
                    <div data-target="#carousel" data-slide-to="6" class="thumb"><img src="assets/images/federer3.jpg"></div>
                    <div data-target="#carousel" data-slide-to="7" class="thumb"><img src="assets/images/federer1.jpg"></div>
                </div><!-- /item -->
            </div><!-- /carousel-inner -->
            <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div> <!-- /thumbcarousel -->
    </div><!-- /clearfix -->
    </div> <!-- /col-sm-6 --> <!-- /col-sm-6 -->
  </div> <!-- /row -->
</div> <!-- /container -->


 <!--<div class="container">
    <div class="row">
        <div class="col-lg-8 " id="slider">
                <div id="myCarousel" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="active item carousel-item" data-slide-number="0">
                            <img src="http://placehold.it/1200x480&amp;text=one" class="img-fluid">
                        </div>
                        <div class="item carousel-item" data-slide-number="1">
                            <img src="http://placehold.it/1200x480/888/FFF" class="img-fluid">
                        </div>
                        <div class="item carousel-item" data-slide-number="2">
                            <img src="http://placehold.it/1200x480&amp;text=three" class="img-fluid">
                        </div>
                        <div class="item carousel-item" data-slide-number="3">
                            <img src="http://placehold.it/1200x480&amp;text=four" class="img-fluid">
                        </div>
                        <div class="item carousel-item" data-slide-number="4">
                            <img src="http://placehold.it/1200x480&amp;text=five" class="img-fluid">
                        </div>
                        <div class="item carousel-item" data-slide-number="5">
                            <img src="http://placehold.it/1200x480&amp;text=six" class="img-fluid">
                        </div>
                        <div class="item carousel-item" data-slide-number="6">
                            <img src="http://placehold.it/1200x480&amp;text=seven" class="img-fluid">
                        </div>
                        <div class="item carousel-item" data-slide-number="7">
                            <img src="http://placehold.it/1200x480&amp;text=eight" class="img-fluid">
                        </div>

                        <a class="carousel-control left pt-3" href="#myCarousel" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                        <a class="carousel-control right pt-3" href="#myCarousel" data-slide="next"><i class="fa fa-chevron-right"></i></a>

                    </div>


                    <ul class="carousel-indicators list-inline">
                        <li class="list-inline-item active">
                            <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#myCarousel">
                                <img src="http://placehold.it/80x60&amp;text=one" class="img-fluid">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a id="carousel-selector-1" data-slide-to="1" data-target="#myCarousel">
                                <img src="http://placehold.it/80x60&amp;text=two" class="img-fluid">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a id="carousel-selector-2" data-slide-to="2" data-target="#myCarousel">
                                <img src="http://placehold.it/80x60&amp;text=three" class="img-fluid">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a id="carousel-selector-3" data-slide-to="3" data-target="#myCarousel">
                                <img src="http://placehold.it/80x60&amp;text=four" class="img-fluid">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a id="carousel-selector-4" data-slide-to="4" data-target="#myCarousel">
                                <img src="http://placehold.it/80x60&amp;text=five" class="img-fluid">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a id="carousel-selector-5" data-slide-to="5" data-target="#myCarousel">
                                <img src="http://placehold.it/80x60&amp;text=six" class="img-fluid">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a id="carousel-selector-6" data-slide-to="6" data-target="#myCarousel">
                                <img src="http://placehold.it/80x60&amp;text=seven" class="img-fluid">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a id="carousel-selector-7" data-slide-to="7" data-target="#myCarousel">
                                <img src="http://placehold.it/80x60&amp;text=eight" class="img-fluid">
                            </a>
                        </li>
                        
                    </ul>
            </div>
        </div>

    </div>
</div>-->
    </div>

  </div>
 <div class="footerstyles text-center">
    <div class="row abcded">
        <div class="col-md-4 col-lg-4 addheight">
                <img class="addslogo" src="assets/icon/footeradds.svg">
        </div>
         <div class="footerheading col-md-4 col-lg-4">Copyright<span>&#169;</span>World Of Pickleball</div>
           <div class="col-md-5 col-lg-5">
            <img class="addslogo" src="assets/icon/footeradds.svg">
        </div> 
     </div>
</div>
</div>