.container{
    color: #666;
    padding: 0px;
        background-color: #fff;
        min-height: 100vh;
}
.main-page-profile{
    /*background-color:cornflowerblue;*/
    /*background-image: url(assets/icon/background-player.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    position:relative;
    height:265px;
}
.player-details{
    position:absolute;
    width:100%;
    height:100%;
    top: 0;
    right: 0;
    padding: 20px 0;
    left: 28px;
}
.playerimg-info{
     width: 186px;
    height: 210px;
    float: left;
    margin: 6px 16px 0 8px;
}
.player-img{
    background-size: cover;
    background-position: center;
        height: 200px;
    width: 170px;
    border-radius: 11px;
    cursor: pointer;
    z-index: 50;
    border-radius: 5px;
}
.player-name{
    font-size: 15px;
    font-weight: bold;
    margin-top: 150px;
    color: #fff;  
}
.player-name1{
     font-size: 22px;
     font-weight: bold;
     margin-top:4px; 
     color: #fff; 
}
.profilenameptag{
     margin: 28px 0px;
         font-size: 22px;
    padding-left: 10px;
}
.player-inform{
    color:#606060;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 15px;
    height: 31px;
    letter-spacing: 1px;
    font-family: Boing-Bold,"Arial Black",sans-serif;
    font-weight: 500;
    font-size: 11px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    cursor: pointer;
}
.player-tabs{
        width: 98%;
            margin-left: 1%;
    border-bottom: 2px solid #1b6b93;
}
.player-key{
     color: #fff;
     font-size: 15px;
      text-align: center;   
}
.player-value{
     color: #fff;
     font-size: 21px;
     text-align: center;
}
.main-date{
    border-right: 1px solid #fff;
    width: 35%;
    height: 64px;
}
.main-place{
    border-right: 1px solid #fff;
    width: 30%;
    height: 64px;
    text-align: center;
}
.main-plays{
     width: 34%;
     height: 64px;
     text-align: center;
}
.addpublicdetailse{
    margin-left: 37%;
    margin-top: 14%;
}
.navbarbuttons{
    border: transparent;
    background-color: transparent;
    margin:0 10px;
    padding: 6px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
     color: black;
}
.myactive{
    background: linear-gradient(90deg,#5E98B6 , #0E628C );
    color: #fff;
}
.right-div{
        position: absolute;
    top: 60px;
    background-color: rgba(0, 0, 0, 0.09);
    width: 100%;
    padding: 18px 10px;;
}
.question{
        font-size: 13px;
    font-family: "ronnia-web","ronnia-web-1",sans-serif;
}
.answer{
        font-size: 13px;
    line-height: 1.846;
    font-family: "ronnia-web","ronnia-web-1",sans-serif;
}
.player-dtl{
    color: #13658F;
    font-size: 14px;
    font-weight: 500;
    margin-top: 32px;
    margin-left:38px;
    width:87%;
    text-decoration: underline;
}
.Editclass{
    width:13px;
    height:13px;
    color: #13658F;
    font-size: 14px;
    font-weight: 500;
    margin-top: 0px;
    text-decoration: underline;
}
.edittext{
     width:13px;
    height:13px;
    color: #13658F;
    font-size: 14px;
    font-weight: 500;
    margin-top: 32px;
    text-decoration: underline;
    margin-left: 0px;
    margin-top: 32px;
}
.btn:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0);
    box-shadow: 0 0 0 2px rgba(2, 117, 216, 0);
}
.quest{
    font-size: 12px;
    width: 280px;
    font-weight: bold;
    word-wrap: break-word;
    padding-left: 1%;
}
.quest1{
    font-size: 12px;
    width: 400px;
    font-weight: bold;
    word-wrap: break-word;
    padding-left: 1%;
}
.child-divv{
    margin-left: 1%;
}
.child-valuee{
    color: #90949c;
    font-size: 12px;

}
.mypadd-class{
    padding: 5px;
    margin-left:3%;
}
.myfavinput{
    height: 33px;
    font-size: 12px;
    width: 225px;
}
.preview-view{
        position: absolute;
    left: 37%;
    font-size: 12px;
    width: 83px;
    border-radius: 8px;
}
.form2{
    font-size: 12px;
    font-weight: 700;
    padding-left: 5%;
}
.breadcrumb {
  display: inline-block;
  overflow: hidden;
  border-radius: 5px;
  padding: 0px;
   counter-reset: flag;
}
.breadcrumb a {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 9px;
      letter-spacing: 0.5px;
  font-weight:700;
  line-height: 25px;
  color: white;
  padding: 3px 6px 3px 18px;
  background: #666;
  background: linear-gradient(#666, #333);
  position: relative;
}
.breadcrumb a:first-child {
   padding: 3px 9px;
  border-radius: 5px 0 0 5px;
}
.breadcrumb a:first-child:before {
  left: 14px;
}
.breadcrumb a:last-child {
  border-radius: 0 5px 5px 0;
  padding-right: 7px;
}
.breadcrumb a.active,
.breadcrumb a:hover {
  background: #ff4081;
  color:#fff;
}
.breadcrumb a.active:after,
.breadcrumb a:hover:after {
  background: #ff4081;
  color:#fff;
}
.breadcrumb a:after {
  content: '';
  position: absolute;
  top: -11px;
  right: -25px;
    width: 51px;
    height: 54px;
  transform: scale(0.407) rotate(45deg);
  z-index: 1;
  background: #666;
  background: linear-gradient(135deg, #666, #333);
  box-shadow: 2px -2px 0 2px #E0E0E0, 3px -3px 0 2px rgba(255, 255, 255, 0.1);
  border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
.breadcrumb a:last-child:after {
  content: none;
}
.flat a,
.flat a:after {
  background: #f4f4f4;
  color: #666;
}
.flat a:hover,
.flat a:hover:after,
{
  background: #ff4081;
  color:#fff;
}
.flat a.active,.flat a.active:after {
  background: #136ad5;
  color:#fff;
}
.flat{
  margin-top:8px;
}
.logout{
    position: absolute;
    margin-bottom: 50px;
    top: -45px;
    right: 7px;
}
.common-cls{
    margin: 7px;
}
.common-clspublic{
    margin: 5px;
}
.col-form-label{
        font-size: 13px;
    font-weight: 500;
}
.myfavinput{
    height: 33px;
    font-size: 12px;
    width: 225px;
}
.myclass-div{
    padding-left:21px;
}
.maindropdown{
    margin: 0 7px 0 3px;
        height: 27px;
    width: 8%;
    max-width: 20%;
    border-radius: 3px;
    font-size: 12px;
}
.maindropdown2{
    margin: 0 7px 0 3px;
        height: 27px;
    width: 19.7%;
    max-width: 40%;
    border-radius: 3px;
     font-size: 12px;
}
.submitbtns{
        width: 95px;
    padding: 3px !important;
    margin: 10px;
    background-color: #d9d9d9;
        font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    
}
.player-dtl{
    color: #13658F;
    font-size: 14px;
    font-weight: 500;
    margin-top: 32px;
    margin-left: 21px;
    text-decoration: underline;
}
.player-dtl2{
    color: #13658F;
    font-size: 14px;
    font-weight: 500;
    margin-top: 32px;
    margin-left: 21px;
    text-decoration: underline;
}
.player-dtl3{
    color: #13658F;
    font-size: 14px;
    font-weight: 500;
    margin-top: 32px;
    margin-left: 21px;
    text-decoration: underline;
}
.player-dtl4{
    color: #13658F;
    font-size: 14px;
    font-weight: 500;
    margin-top: 32px;
    margin-left: 21px;
    text-decoration: underline;
}
.upLoadStyles{
    position: absolute;
    width: 22%;
    height: -7%;
    bottom: 9px;
    background-color: transparent;   
}
.uploader{
    height:200px;
}
.uploader input {
  display: none;
}
.mybtnsub{
    padding-left: 15%;
    margin-top: 20px;
    margin-bottom:25px;
    width: 100%;
}
.maindropdown2edit {
    margin: 0 7px 0 0px;
    height: 27px;
    width: 21.5%;
    max-width: 40%;
    border-radius: 3px;
    font-size: 12px;
}
