<div>
  <div *ngIf="resetPasswordData.resetPasswordPanel">
    <button type="button" class="close" (click)="close()">&times;</button>
    <h2 md-dialog-title class="mycolor">Reset Password</h2>
  </div>

  <div *ngIf="resetPasswordData.resetPasswordPanel">
    <md-dialog-content class="dialog-content">
      <div class="form-signin">
        <input type="password" (keyup)="passWordValidastion()" [(ngModel)]="resetPasswordData.password" class="form-control" placeholder="New Password">

        <div class="password-info" *ngIf="resetPasswordData.passworderr===false">
              <p class="showerrormsgP" >Password must contain minimum 7 chars, at least one number and a special character (!,@,#,$,%,^,&,(,),*,_,+)</p>
              </div>
        <input type="password" [(ngModel)]="resetPasswordData.confirmpassword" class="form-control" placeholder="Confirm Password" required (keydown)="PasswordEnter($event)">
        <!--<div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>-->
        <p class="erroremsg" *ngIf="resetPasswordData.errore">{{resetPasswordData.errormsg}}</p>

      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="resetPassword()" type="submit">Submit</button>
    </md-dialog-actions>
  </div>
  <div *ngIf = "resetPasswordData.resetPasswordHelpText">
    <md-dialog-content class="dialog-content">
      <p>{{resetPasswordData.helpText}}</p>
    </md-dialog-content>
    <md-dialog-actions>
      <button style="cursor:pointer" class="btn btn-lg btn-primary btn-block btn-signin" (click)="resetCompleted()" type="submit">Ok</button>
    </md-dialog-actions>
  </div>
</div>