<div>
  <div *ngIf = "forgotPwdObj.emailEnteredPanel">
    <button type="button" class="close" (click)="close()">&times;</button>
    <h2 md-dialog-title class="mycolor">Enter Registered Email</h2>
  </div>

  <div *ngIf = "forgotPwdObj.emailEnteredPanel">
    <md-dialog-content class="dialog-content">

      <!-- <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" /> -->
      <!-- <p id="profile-name" class="profile-name-card"></p> -->
      <div class="form-signin">
        <span id="reauth-email" class="reauth-email"></span>
        <label for="last_name" class="col-md-4 col-xs-3 col-form-label mr-2">Email <span class="star">*</span></label>
        <div class="col-xs-6 mbl-input padclasss">
          <input type="email" class="form-control myfavinput" id="firstFieldFocus" (keyup) = 'forgotEmail()' [(ngModel)]="forgotPwdObj.Email" required>
        </div>
        
        <!-- <input type="password" [(ngModel)]="signInobj.password" class="form-control" placeholder="Password" required (keydown)="PasswordEnter($event)">
            <p style="font-size:12px;cursor:pointer;text-align:center" (click)="forgotPassword()">Forgot Password</p> -->
        <!--<div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>-->
        <p class="erroremsg" *ngIf="forgotPwdObj.errore">{{forgotPwdObj.errormsg}}</p>

      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <button style="cursor:pointer"  class="btn btn-lg btn-primary btn-block btn-signin" (click)="forgotPasswordSubmit()" type="submit">Submit</button>
    </md-dialog-actions>
  </div>
  <div *ngIf = "forgotPwdObj.helpTextPanel">
    <md-dialog-content class="dialog-content">
        <p >{{forgotPwdObj.helpText}}</p>
    </md-dialog-content>
    <md-dialog-actions>
      <button style="cursor:pointer" class="btn btn-lg btn-primary btn-block btn-signin" (click)="passwordSentToMail()" type="submit">Ok</button>
    </md-dialog-actions>
  </div>
</div>