.mainhomediv {
    height: 100%;
}

.homerow {
    margin-right: 0;
    margin-left: 0px;
    padding-left: 5%;
    padding-right: 6%;
    background-color: #fff;
    min-height: calc(78vh);
}

.heading {
    color: #1e6c94;
}

.content {
    margin-top: 22px;
    font-family: "cambria";
}

.contentt {
    min-width: 450px;
    padding: 33px 5%;
}

@media (min-width:300px) and (max-width:480px) {
    .contentt {
        min-width: 300px;
        padding: 10px 0%;
    }
    .content {
        margin-top: 10px;
        font-family: "cambria";
        font-size: 13px;
    }
    .heading {
        color: #1e6c94;
        font-size: 13px;
    }
}