<div class="container-fluid">
    <div class="row  rowmargin">
        <div class="col-md-3">
               <button md-button type="button" class="leftbtns" >my Profile</button>
      
        <button md-button type="button" class=" leftbtns mobilehide">Manage Tournaments</button>
        </div>
        <div class="col-md-8">
            <!--bellow div condition for profile details-->
         <div>
            <!--note:  ===>>> ng-calss :: active-->
            <div class="breadcrumb flat  steppdiv mobilevw">
                <a (click)="playerDetails(1)" >Profile Details </a>
                <a (click)="contacts(2)" >Billing Details</a>
      
           </div>
          <div>   
              <!--condition for breadcrumb1-->
                 <div>
                     <!--condition for text data shown-->
                 <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">First Name </label>
                    <div class="col-xs-7 mbl-input padclasss">
                         <p class=" player-value">text here</p> 
                     </div>
                  </div>
                   <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">Last Name </label>
                    <div class="col-xs-7 mbl-input padclasss">
                         <p class=" player-value">text here</p> 
                     </div>
                  </div>
                   <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">Email Address </label>
                    <div class="col-xs-7 mbl-input padclasss">
                         <p class=" player-value">text here</p> 
                     </div>
                  </div>
                   <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">Phone Number</label>
                    <div class="col-xs-7 mbl-input padclasss">
                         <p class=" player-value">text here</p> 
                     </div>
                  </div>
                   <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">UserID </label>
                    <div class="col-xs-7 mbl-input padclasss">
                         <p class=" player-value">text here</p> 
                     </div>
                  </div>
                   <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">Password </label>
                    <div class="col-xs-7 mbl-input padclasss">
                         <p class=" player-value">text here</p> 
                     </div>
                  </div>
                   <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">Confirm Password </label>
                    <div class="col-xs-7 mbl-input padclasss">
                      <p class=" player-value">text here</p>  
                     </div>
                  </div>
            </div>
            <div style="display:noe;">
                <!--condition for first input fields-->
                 <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">First Name </label>
                    <div class="col-xs-7 mbl-input padclasss">
                        <input type="text" class="form-control myfavinput"  required>
                     </div>
                  </div>
                   <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">Last Name </label>
                    <div class="col-xs-7 mbl-input padclasss">
                        <input type="text" class="form-control myfavinput"  required>
                     </div>
                  </div>
                   <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">Email Address </label>
                    <div class="col-xs-7 mbl-input padclasss">
                        <input type="text" class="form-control myfavinput"  required>
                     </div>
                  </div>
                   <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">Phone Number</label>
                    <div class="col-xs-7 mbl-input padclasss">
                        <input type="text" class="form-control myfavinput"  required>
                     </div>
                  </div>
                   <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">UserID </label>
                    <div class="col-xs-7 mbl-input padclasss">
                        <input type="text" class="form-control myfavinput"  required>
                     </div>
                  </div>
                   <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">Password </label>
                    <div class="col-xs-7 mbl-input padclasss">
                        <input type="text" class="form-control myfavinput"  required>
                     </div>
                  </div>
                   <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">Confirm Password </label>
                    <div class="col-xs-7 mbl-input padclasss">
                        <input type="text" class="form-control myfavinput"  required>
                     </div>
                  </div>
            </div>
          </div>
         </div>  
         <!--end profilr details-->
                 <!--bellow div condition for manage tournment details-->
         <div>
            <!--note:  ===>>> ng-calss :: active-->
            <div class="breadcrumb flat  steppdiv mobilevw">
                <a (click)="playerDetails(1)" >Basic Information </a>
                <a (click)="contacts(2)" >Events</a>
      
           </div>
          <div>   
              <!--condition for breadcrumb1-->
              
            <div style="display:noe;">
                <!--condition for first input fields-->
                 <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">Tournament Name  </label>
                    <div class="col-xs-7 mbl-input padclasss">
                        <input type="text" class="form-control myfavinput"  required>
                     </div>
                  </div>
                   <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">Tournament Start Date </label>
                    <div class="col-xs-7 mbl-input padclasss">
                         <div class="row myclass-div">
         
                   <select class="maindropdown" >
                              <option selected disabled>select Month</option>
                              <option value="January">January</option>
                              <option value="February">February</option>
                              <option value="March">March</option>
                              <option value="April">April</option>
                              <option value="May">May</option>
                              <option value="June">June</option>
                              <option value="July">July</option>
                              <option value="August">August</option>
                              <option value="September">September</option>
                              <option value="October">October</option>
                              <option value="November">November</option>
                              <option value="December">December</option>-->
                            </select>
                             <select class="maindropdown" >
                              <option selected disabled>select Date</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            </select>  
                              <select class="maindropdown" >
                                <option selected disabled>select Year</option>
                                <option >year</option>
                            </select>
                      </div>
    
                     </div>
                  </div>
                          <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">Tournament Start Date </label>
                    <div class="col-xs-7 mbl-input padclasss">
                         <div class="row myclass-div">
         
                   <select class="maindropdown" >
                              <option selected disabled>select Month</option>
                              <option value="January">January</option>
                              <option value="February">February</option>
                              <option value="March">March</option>
                              <option value="April">April</option>
                              <option value="May">May</option>
                              <option value="June">June</option>
                              <option value="July">July</option>
                              <option value="August">August</option>
                              <option value="September">September</option>
                              <option value="October">October</option>
                              <option value="November">November</option>
                              <option value="December">December</option>-->
                            </select>
                             <select class="maindropdown" >
                              <option selected disabled>select Date</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            </select>  
                              <select class="maindropdown" >
                                <option selected disabled>select Year</option>
                                <option >year</option>
                            </select>
                      </div>
    
                     </div>
                  </div>
                   <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">Website URL </label>
                    <div class="col-xs-7 mbl-input padclasss">
                        <input type="text" class="form-control myfavinput"  required>
                     </div>
                  </div>
                   <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">	Sanctioning </label>
                    <div class="col-xs-7 mbl-input padclasss">
                        <md-radio-group>
                            <md-radio-button value="1"><span style=" color: #767f7f;font-size: 12px;">Option 1</span></md-radio-button>
                            <md-radio-button value="2"><span style=" color: #767f7f;font-size: 12px;">Option 2</span></md-radio-button>
                        </md-radio-group>
                     </div>
                  </div>   
                   <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">Location Venue  </label>
                    <div class="col-xs-7 mbl-input padclasss">
                        <input type="text" class="form-control myfavinput"  required>
                     </div>
                  </div>
                   <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">	Address</label>
                    <div class="col-xs-7 mbl-input padclasss">
                        <input type="text" class="form-control myfavinput"  required>
                     </div>
                  </div>
                   <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">	City</label>
                    <div class="col-xs-7 mbl-input padclasss">
                        <input type="text" class="form-control myfavinput"  required>
                     </div>
                  </div>
              
                          <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">State  </label>
                    <div class="col-xs-7 mbl-input padclasss">
                         <select class="maindropdownmahi" >
                              <option selected disabled>select state</option>
                        
                            </select>
                     </div>
                  </div>
                   <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">Zip  </label>
                    <div class="col-xs-7 mbl-input padclasss">
                        <input type="text" class="form-control myfavinput"  required>
                     </div>
                  </div>
                   <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">Country </label>
                    <div class="col-xs-7 mbl-input padclasss">
                        <select class="maindropdownmahi" >
                              <option selected disabled>select country</option>
                             
                            </select>
                     </div>
                  </div>
                   <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">Number of Courts  </label>
                    <div class="col-xs-7 mbl-input padclasss">
                        <input type="text" class="form-control myfavinput"  required>
                     </div>
                  </div>
                   <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">Contact Person  </label>
                    <div class="col-xs-7 mbl-input padclasss">
                        <input type="text" class="form-control myfavinput"  required>
                     </div>
                  </div>
                   <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">Phone</label>
                    <div class="col-xs-7 mbl-input padclasss">
                        <input type="text" class="form-control myfavinput"  required>
                     </div>
                  </div>
                   <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">Minimum Age </label>
                    <div class="col-xs-7 mbl-input padclasss">
                        <input type="text" class="form-control myfavinput"  required>
                     </div>
                  </div>
                               <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">Waiver clause  </label>
                    <div class="col-xs-7 mbl-input padclasss">
                        <input type="text" class="form-control myfavinput"  required>
                     </div>
                  </div>
                   <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">Fee Tracker </label>
                    <div class="col-xs-7 mbl-input padclasss">
                        <input type="text" class="form-control myfavinput"  required>
                     </div>
                  </div>
                   <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">Listing Start </label>
                    <div class="col-xs-7 mbl-input padclasss">
                                     <div class="row myclass-div">
                   <select class="maindropdown" >
                              <option selected disabled>select Month</option>
                              <option value="January">January</option>
                              <option value="February">February</option>
                              <option value="March">March</option>
                              <option value="April">April</option>
                              <option value="May">May</option>
                              <option value="June">June</option>
                              <option value="July">July</option>
                              <option value="August">August</option>
                              <option value="September">September</option>
                              <option value="October">October</option>
                              <option value="November">November</option>
                              <option value="December">December</option>-->
                            </select>
                             <select class="maindropdown" >
                              <option selected disabled>select Date</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            </select>  
                              <select class="maindropdown" >
                                <option selected disabled>select Year</option>
                                <option >year</option>
                            </select>
                      </div>
                     </div>
                  </div>
                   <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">Listing End   </label>
                    <div class="col-xs-7 mbl-input padclasss">
                                     <div class="row myclass-div">  
                   <select class="maindropdown" >
                              <option selected disabled>select Month</option>
                              <option value="January">January</option>
                              <option value="February">February</option>
                              <option value="March">March</option>
                              <option value="April">April</option>
                              <option value="May">May</option>
                              <option value="June">June</option>
                              <option value="July">July</option>
                              <option value="August">August</option>
                              <option value="September">September</option>
                              <option value="October">October</option>
                              <option value="November">November</option>
                              <option value="December">December</option>-->
                            </select>
                             <select class="maindropdown" >
                              <option selected disabled>select Date</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            </select>  
                              <select class="maindropdown" >
                                <option selected disabled>select Year</option>
                                <option >year</option>
                            </select>
                      </div>
                     </div>
                  </div>
                   <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">Regsitration Start </label>
                    <div class="col-xs-7 mbl-input padclasss">
                                     <div class="row myclass-div">      
                   <select class="maindropdown" >
                              <option selected disabled>select Month</option>
                              <option value="January">January</option>
                              <option value="February">February</option>
                              <option value="March">March</option>
                              <option value="April">April</option>
                              <option value="May">May</option>
                              <option value="June">June</option>
                              <option value="July">July</option>
                              <option value="August">August</option>
                              <option value="September">September</option>
                              <option value="October">October</option>
                              <option value="November">November</option>
                              <option value="December">December</option>-->
                            </select>
                             <select class="maindropdown" >
                              <option selected disabled>select Date</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            </select>  
                              <select class="maindropdown" >
                                <option selected disabled>select Year</option>
                                <option >year</option>
                            </select>
                      </div>
                     </div>
                  </div>
                   <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">Regsitration Deadline </label>
                    <div class="col-xs-7 mbl-input padclasss">
                                     <div class="row myclass-div">      
                   <select class="maindropdown" >
                              <option selected disabled>select Month</option>
                              <option value="January">January</option>
                              <option value="February">February</option>
                              <option value="March">March</option>
                              <option value="April">April</option>
                              <option value="May">May</option>
                              <option value="June">June</option>
                              <option value="July">July</option>
                              <option value="August">August</option>
                              <option value="September">September</option>
                              <option value="October">October</option>
                              <option value="November">November</option>
                              <option value="December">December</option>-->
                            </select>
                             <select class="maindropdown" >
                              <option selected disabled>select Date</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            </select>  
                              <select class="maindropdown" >
                                <option selected disabled>select Year</option>
                                <option >year</option>
                            </select>
                      </div>
                     </div>
                  </div>
                   <div class="row common-cls">
                   <label for="first_name" class="col-md-4 col-xs-3 col-form-label mr-2">Cancellation Deadline</label>
                    <div class="col-xs-7 mbl-input padclasss">
                                     <div class="row myclass-div">
         
                   <select class="maindropdown" >
                              <option selected disabled>select Month</option>
                              <option value="January">January</option>
                              <option value="February">February</option>
                              <option value="March">March</option>
                              <option value="April">April</option>
                              <option value="May">May</option>
                              <option value="June">June</option>
                              <option value="July">July</option>
                              <option value="August">August</option>
                              <option value="September">September</option>
                              <option value="October">October</option>
                              <option value="November">November</option>
                              <option value="December">December</option>-->
                            </select>
                             <select class="maindropdown" >
                              <option selected disabled>select Date</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            </select>  
                              <select class="maindropdown" >
                                <option selected disabled>select Year</option>
                                <option >year</option>
                            </select>
                      </div>
                     </div>
                  </div>
                  
            </div>
          </div>
          <!--events div start-->
          <div>

          </div>
         </div>  
         <!--end manage tournment details-->
        </div>
    </div>
<app-footer></app-footer>
</div>