<div>
  <div *ngIf="changePasswordData.passwordEnteredPanel">
    <button type="button" class="close" (click)="close()">&times;</button>
    <h2 md-dialog-title class="mycolor">Change Password</h2>
  </div>

  <div *ngIf="changePasswordData.passwordEnteredPanel">
    <md-dialog-content class="dialog-content">

      <!-- <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" /> -->
      <!-- <p id="profile-name" class="profile-name-card"></p> -->
      <div class="row common-cls">
        <!-- <span id="reauth-email" class="reauth-email"></span> -->
        <label for="last_name" class="col-md-5 col-xs-3 col-form-label mr-2">Old Password <span class="star">*</span></label>
        <div class="col-xs-6 mbl-input padclasss">
          <input type="Password" id="firstFieldFocus" class="form-control myfavinput" [(ngModel)]="changePasswordData.oldPassword"
            required>
        </div>
        <label for="last_name" class="col-md-5 col-xs-3 col-form-label mr-2">New Password <span class="star">*</span></label>
        <div class="col-xs-6 mbl-input padclasss">
          <input type="Password" (keyup)="passWordValidastion()" class="form-control myfavinput" [(ngModel)]="changePasswordData.newPassword"
            required>
        </div>
        <div class="password-info" *ngIf="changePasswordData.password===false">
          <p class="showerrormsgP">Password must contain minimum 7 chars, at least one number and a special character (!,@,#,$,%,^,&,(,),*,_,+)</p>
        </div>
        <label for="last_name" class="col-md-5 col-xs-3 col-form-label mr-2">Confirm Password <span class="star">*</span></label>
        <div class="col-xs-6 mbl-input padclasss">
          <input type="Password" class="form-control myfavinput" [(ngModel)]="changePasswordData.confirmNewPassword" required>
        </div>
        <!-- <input type="password" style="cursor:pointer" [(ngModel)]="changePasswordData.oldPassword" class="form-control" placeholder="Old Password" required
          autofocus>
          <input type="password" style="cursor:pointer" [(ngModel)]="changePasswordData.newPassword" class="form-control" placeholder="New Password" required
          > -->
        <!-- <input type="password" [(ngModel)]="signInobj.password" class="form-control" placeholder="Password" required (keydown)="PasswordEnter($event)">
            <p style="font-size:12px;cursor:pointer;text-align:center" (click)="forgotPassword()">Forgot Password</p> -->
        <!--<div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>-->

        <p class="erroremsg" *ngIf="changePasswordData.errore">{{changePasswordData.errormsg}}</p>

      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <button style="cursor:pointer" class="btn btn-lg btn-primary btn-block btn-signin" (click)="changePassword()" type="submit">Submit</button>
    </md-dialog-actions>
  </div>
  <div *ngIf="changePasswordData.helpTextPanel">
    <md-dialog-content class="dialog-content">
      <p>{{changePasswordData.helpText}}</p>
    </md-dialog-content>
    <md-dialog-actions>
      <button style="cursor:pointer" class="btn btn-lg btn-primary btn-block btn-signin" (click)="PasswordChanged()" type="submit">Ok</button>
    </md-dialog-actions>
  </div>
</div>