<div class="container-fluid maindiv-one">
  <div *ngIf="playersRegistrationobj.TournamentProfile">
    <div>
      <p class="h3 one-h3">PLAYER REGISTRATION</p>
    </div>
    <!--PLAYER REGISTRATION opstionse-->
    <div class="breadcrumb flat  steppdiv webview">
      <a (click)="playerDetails(1)" [ngClass]="{'active':playersRegistrationobj.TournamentProfileForm === 1}"> PLAYER DETAILS </a>
      <a (click)="contacts(2)" [ngClass]="{'active':playersRegistrationobj.TournamentProfileForm === 2}">CONTACT</a>
      <a class="mobilecut" (click)="membershipRatingInformation(3)" [ngClass]="{'active':playersRegistrationobj.TournamentProfileForm === 3}"> MEMBERSHIP AND RATING INFORMATION</a>
      
    </div>
  </div>
  <!--public Profile opstionse-->
  <div class="breadcrumb flat  steppdiv webview" *ngIf="playersRegistrationobj.publicProfile">
    <a (click)="publicProfileopstions(1)" [ngClass]="{'active':playersRegistrationobj.publicProfileForm === 1}">  PUBLIC PROFILE 1 </a>
    <a (click)="publicProfileopstions(2)" [ngClass]="{'active':playersRegistrationobj.publicProfileForm === 2}">PUBLIC PROFILE 2</a>
    <a (click)="publicProfileopstions(3)" [ngClass]="{'active':playersRegistrationobj.publicProfileForm === 3}"> PHOTOS</a>

  </div>

  <div style="min-height:62vh;">
    <div class="row marggg" >
      <div class="col-md-3" *ngIf="playersRegistrationobj.TournamentProfileForm !== 0">
        <p class="h5 one-h5">PLAYER PROFILE INFORMATION</p>
        <button md-button type="button" class="btn  btn-lg btn-block leftbtns" (click)="clickOnTournamentProfile()" [ngClass]="{'myactive':playersRegistrationobj.TournamentProfile}">TOURNAMENT PROFILE</button>
        <!--<button *ngIf="playersRegistrationobj.TournamentProfileForm !==5" type="button" class="btn  btn-lg btn-block leftbtns myactive" (click)="TournamentProfile()" >TOURNAMENT PROFILE</button>-->
        <button md-button type="button" class="btn  btn-lg btn-block leftbtns mobilehide" (click)="clickOnPublicProfile()" [ngClass]="{'myactive':playersRegistrationobj.publicProfile}"> PUBLIC PROFILE</button>
        <!--<button *ngIf="playersRegistrationobj.TournamentProfileForm ===5" type="button" class="btn  btn-lg btn-block leftbtns myactive" (click)="publicProfile()" > PUBLIC PROFILE</button>-->
      </div>

      <div class="col-md-8 mobilemahi" *ngIf="playersRegistrationobj.TournamentProfile">

            <!--PLAYER REGISTRATION opstionse   for mobile view-->
    <div class="breadcrumb flat  steppdiv mobilevw"  *ngIf="playersRegistrationobj.TournamentProfile">
      <a (click)="playerDetails(1)" [ngClass]="{'active':playersRegistrationobj.TournamentProfileForm === 1}"> PLAYER DETAILS </a>
      <a (click)="contacts(2)" [ngClass]="{'active':playersRegistrationobj.TournamentProfileForm === 2}">CONTACT</a>
      <a class="mobilecut" (click)="membershipRatingInformation(3)" [ngClass]="{'active':playersRegistrationobj.TournamentProfileForm === 3}"> MEMBERSHIP AND RATING INFORMATION</a>
      
    </div>


        <div>
          <p class="playerinfoo" *ngIf="playersRegistrationobj.TournamentProfile">The information provided will be used only for tournaments that are used by this site. It will not be made public
            or shared in any way.</p>
        </div>
        <div>

          <!--player rigistrastion form 1-->
          <div class="container-fluid onetwo">
            <div class="div-one" *ngIf="playersRegistrationobj.TournamentProfileForm===1" (click)="ConfirmPassword()">
              <!--<div>
                        <p class="player-dtl">PLAYER DETAILS :</p>
                      </div>-->
              <div class="row common-cls">
                <label for="first_name" class="col-md-3 col-xs-3 col-form-label mr-2">First Name <span class="star">*</span></label>
                <div class="col-xs-8 mbl-input padclasss">
                  <input type="text" class="form-control myfavinput" [(ngModel)]="TournamentFormObj.FirstName" id="firstname" required>
                </div>
              </div>
              <div class="row common-cls">
                <label for="last_name" class="col-md-3 col-xs-3 col-form-label mr-2">Last Name <span class="star">*</span></label>
                <div class="col-xs-8 mbl-input padclasss">
                  <input type="text" class="form-control myfavinput" [(ngModel)]="TournamentFormObj.LastName" required>
                </div>
              </div>
              <div class="row common-cls">
                <label for="last_name" class="col-md-3 col-xs-3 col-form-label mr-2">Email <span class="star">*</span></label>
                <div class="col-xs-8 mbl-input padclasss">
                  <input type="email" class="form-control myfavinput" [(ngModel)]="TournamentFormObj.email" required>
                </div>
              </div>
              <div class="row common-cls">
                <label for="last_name" class="col-md-3 col-xs-3 col-form-label mr-2">User Name <span class="star">*</span></label>
                <div class="col-xs-8 mbl-input padclasss">
                  <input type="text" (keyup)="userNameValidastion()" class="form-control myfavinput" [(ngModel)]="TournamentFormObj.UserName" required>
                    <p class="showerrormsgP" *ngIf="playersRegistrationobj.userName===false">User Name  Min 4 & Max 20 Characters</p>
                </div>
              </div>

              <div class="row common-cls">
                <label for="last_name" class="col-md-3 col-xs-3 col-form-label mr-2">Password <span class="star">*</span></label>
                <div class="col-xs-8 mbl-input padclasss">
                  <input type="Password" (keyup)="passWordValidastion()" class="form-control myfavinput" [(ngModel)]="TournamentFormObj.password" required>
                   
                
                </div>
                <div class="mahi">
                 <img class="infoicon" src="assets/icon/infoicon.svg">
                   <!--<div>-->
                  <p  class="infodiv" style="font-size: 11px;">min 7 chars with at least on number and one special character </p>
                   <!--</div>-->
              </div>
              </div>
               <div class="password-info" *ngIf="playersRegistrationobj.password===false">
              <p class="showerrormsgP" >Password must contain minimum 7 chars, at least one number and a special character (!,@,#,$,%,^,&,(,),*,_,+)</p>
              </div>
             
              <div class="row common-cls">
                <label for="last_name" class="col-md-3 col-xs-3 col-form-label mr-2" style="padding-right:0px;">Confirm Password <span class="star">*</span></label>
                <div class="col-xs-8 mbl-input padclasss">
                  <input type="Password" class="form-control myfavinput" [(ngModel)]="TournamentFormObj.Confarmpassword" required>
                  <p class="showerrormsgP" *ngIf="playersRegistrationobj.ConfarmPassword===false">These passwords don't match. Try again?</p>
                </div>
              </div>
              <div class="row common-cls">
                <label for="last_name" class="col-md-3 col-xs-3 col-form-label mr-2">Gender <span class="star">*</span></label>
                <select class="maindropdownfirst" [(ngModel)]="TournamentFormObj.Gender">
                             <option selected disabled>Select Gender</option>
                              <option  value="Male">Male</option>
                              <option  value="Female">Female</option>
                            </select>
              </div>
              <div class="row common-cls">
                <label for="last_name" class="col-md-3 col-xs-3 col-form-label mr-2">T Shirt Size <span class="star">*</span></label>
                <select class="maindropdownfirst" [(ngModel)]="TournamentFormObj.TShirtSize">
                             <option selected disabled>Select T Shirt Size</option>
                              <option  value="Small">Small</option>
                              <option  value="Medium">Medium</option>
                              <option  value="Large">Large</option>
                              <option  value="XL">XL</option>
                              <option  value="XXl">XXL</option>
                            </select>
              </div>
              <div class="row myclass-divdatepick">
                <label for="last_name" class="col-md-3 col-xs-3 col-form-label picker-label" style="margin: 0px;margin-right:3px; ">Date Of Birth <span class="star">*</span></label>
                <!--<label for="last_name" class="col-md-3 col-form-label ">Date Of Birth</label>-->
              
                <select class="maindropdown" [(ngModel)]="TournamentFormObj.DOBDate">
                              <option selected disabled>select Date</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            </select>
                              <select class="maindropdown" [(ngModel)]="TournamentFormObj.DOBMonth">
                              <option selected disabled>select Month</option>
                              <option value="January">January</option>
                              <option value="February">February</option>
                              <option value="March">March</option>
                              <option value="April">April</option>
                              <option value="May">May</option>
                              <option value="June">June</option>
                              <option value="July">July</option>
                              <option value="August">August</option>
                              <option value="September">September</option>
                              <option value="October">October</option>
                              <option value="November">November</option>
                              <option value="December">December</option>
                            </select>
                <select class="maindropdown" [(ngModel)]="TournamentFormObj.DOBYear">
                                <option selected disabled>select Year</option>
                                <option *ngFor="let year of getYear()" getYear value={{year}}>{{year}}</option>
                            </select>
                <!--<md-input-container class="maindropdownfirst paddclass">
                  <input mdInput [mdDatepicker]="picker" [(ngModel)]="TournamentFormObj.BirthDate">
                  <button mdSuffix [mdDatepickerToggle]="picker"></button>
                </md-input-container>
                <md-datepicker touchUi="true" #picker></md-datepicker>-->
              </div>
              <!--<div class="row common-cls">
                <label for="last_name" class="col-md-3 col-form-label mr-2">Plays <span class="star">*</span></label>
                <select class="maindropdownfirst" [(ngModel)]="TournamentFormObj.Plays">
                             <option selected disabled>Select Plays</option>
                              <option  value="Right handed">Right Handed</option>
                              <option  value="Left handed">Left Handed</option>
                            </select>
              </div>-->
            </div>

            <!--player rigistrastion form 2-->
            <div class="div-two" *ngIf="playersRegistrationobj.TournamentProfileForm===2">
              <!--<div>
                        <p class="player-dtl2">ADDRESS DETAILS :</p>
                      </div>-->
              <div class="row common-cls">
                <label for="first_name" class="col-md-4 col-form-label mr-2">Address Line1 <span class="star">*</span></label>
                <div class="col-xs-7 padclasss mbl-input ">
                  <input type="text" class="form-control myfavinput" [(ngModel)]="TournamentFormObj.Address1">
                </div>
              </div>
              <div class="row common-cls">
                <label for="last_name" class="col-md-4 col-form-label mr-2">Address Line2</label>
                <div class="col-xs-7 padclasss mbl-input">
                  <input type="text" class="form-control myfavinput" [(ngModel)]="TournamentFormObj.Address2" >
                </div>
              </div>
              <div class="row common-cls">
                <label for="last_name" class="col-md-4 col-form-label mr-2">City <span class="star">*</span></label>
                <div class="col-xs-7 padclasss mbl-input">
                  <input type="text" class="form-control myfavinput" [(ngModel)]="TournamentFormObj.City">
                </div>
              </div>
              <div class="row myclass-div common-cls">
                <label for="last_name" class="col-md-4 col-form-label mr-2">State <span class="star">*</span></label>
                <select class="maindropdown2" (click) = "getallstates()" [(ngModel)]="TournamentFormObj.State">
                             <option selected disabled>Select State</option>
                              <option  *ngFor = "let onestate of playersRegistrationobj.states" value={{onestate.State}}>{{onestate.State}}</option>
                             <!--<option  value="Hawaii">Hawaii</option>
                               <option  value="Florida">Florida</option>
                              <option  value="Texas">Texas</option>
                              <option  value="Massachusetts">Massachusetts</option>
                              <option  value="Alaska">Alaska</option>
                              <option  value="Alabama">Alabama</option>
                              <option  value="Georgia">Georgia</option>
                              <option  value="Minnesota">Minnesota</option>
                              <option  value="North Carolina">North Carolina</option>
                              <option  value="Pennsylvania">Pennsylvania</option>-->
                            </select>
              </div>
              <div class="row common-cls">
                <label for="last_name" class="col-md-4 col-form-label mr-2">Postal Code <span class="star">*</span></label>
                <div class="col-xs-7 padclasss mbl-input">
                  <input type="number" class="form-control myfavinput" [(ngModel)]="TournamentFormObj.PostalCode">
                </div>
              </div>
              <div class="row myclass-div common-cls">
                <label for="last_name" class="col-md-4 col-form-label mr-2">Country <span class="star">*</span></label>
                <select class="maindropdown2" (click)= "getcountries()" [(ngModel)]="TournamentFormObj.Country">
                              <option selected disabled>Select Country</option>
                              <option  *ngFor="let country of playersRegistrationobj.countries" value={{country.Country}}>{{country.Country}}</option>
                            </select>
              </div>

              <div class="row common-cls">
                <label for="first_name" class="col-md-4 col-form-label mr-2">Phone number <span class="star">*</span></label>
                <div class="col-xs-7 padclasss mbl-input">
                  <input type="number" class="form-control myfavinput" [(ngModel)]="TournamentFormObj.Phone">
                </div>
              </div>
              <div class="row common-cls">
                <label for="last_name" class="col-md-4 col-form-label mr-2">Emergency Contact Name <span class="star">*</span></label>
                <div class="col-xs-7 padclasss mbl-input">
                  <input type="text" class="form-control myfavinput" [(ngModel)]="TournamentFormObj.EmergencyContactName">
                </div>
              </div>
              <div class="row common-cls">
                <label for="last_name" class="col-md-4 col-form-label mr-2">Emergency Contact Number <span class="star">*</span></label>
                <div class="col-xs-7 padclasss mbl-input">
                  <input type="number" class="form-control myfavinput" [(ngModel)]="TournamentFormObj.EmergencyContact">
                </div>
              </div>
            </div>

            <!--player rigistrastion form 3-->
            <!--<div class="div-three" *ngIf="playersRegistrationobj.TournamentProfileForm===3">
                          
                        <div class="row common-cls">
                          <label for="first_name" class="col-md-5 col-form-label mr-2">Phone number</label>
                          <div class="col-xs-9">
                              <input type="number" class="form-control myfavinput" [(ngModel)]="TournamentFormObj.Phone" placeholder="Phone number">
                          </div>
                        </div>
                        <div class="row common-cls">
                          <label for="last_name" class="col-md-5 col-form-label mr-2">Emergency Contact Name</label>
                          <div class="col-xs-9">
                                <input type="text" class="form-control myfavinput" [(ngModel)]="TournamentFormObj.EmergencyContactName" placeholder="Emergency Contact Name">
                          </div>
                        </div>
                        <div class="row common-cls">
                          <label for="last_name" class="col-md-5 col-form-label mr-2">Emergency Contact Number</label>
                          <div class="col-xs-9">
                                <input type="number" class="form-control myfavinput" [(ngModel)]="TournamentFormObj.EmergencyContact" placeholder="Emergency Contact Number">
                          </div>
                        </div>
                    </div>-->

            <!--player rigistrastion form 3-->
            <div class="div-four" *ngIf="playersRegistrationobj.TournamentProfileForm===3">
              <!--<div>
                        <p class="player-dtl4">MEMBERSHIP AND RATING INFORMATION :</p>
                      </div>-->
              <div class="row common-cls">
                <label for="first_name" class="col-md-5 col-form-label mr-2">Club</label>
                <div class="col-xs-6 mbl-input padclasss">
                  <input type="text" class="form-control myfavinput" [(ngModel)]="TournamentFormObj.Club">
                </div>
              </div>
              <div class="row myclass-div common-cls">
                <label for="last_name" class="col-md-5 col-form-label mr-2"> Singles Skill Level <span class="star">*</span></label>
                <select class="maindropdown2skill" [(ngModel)]="TournamentFormObj.SinglesSkillLevel">
                              <option selected disabled>Select Skill Level</option>
                              <option  value="N/A">N/A</option>
                              <option  value="3.0">3.0</option>
                              <option  value="3.5">3.5</option>
                              <option  value="4.0">4.0</option>
                              <option  value="4.5">4.5</option>
                              <option  value="5.0">5.0</option>
                            </select>
              </div>
              <div class="row myclass-div common-cls">
                <label for="last_name" class="col-md-5 col-form-label mr-2"> Doubles Skill Level <span class="star">*</span></label>
                <select class="maindropdown2skill" [(ngModel)]="TournamentFormObj.DoublesSkillLevel">
                              <option selected disabled>Select Skill Level</option>
                              <option  value="N/A">N/A</option>
                              <option  value="3.0">3.0</option>
                              <option  value="3.5">3.5</option>
                              <option  value="4.0">4.0</option>
                              <option  value="4.5">4.5</option>
                              <option  value="5.0">5.0</option>
                            </select>
              </div>
              <!--<div class="row myclass-div common-cls">
                <label for="last_name" class="col-md-5 col-form-label mr-2">Skill rating by <span class="star">*</span></label>
                <select class="maindropdown2skill" [(ngModel)]="TournamentFormObj.SkillRatingBy">
                                <option selected disabled>Select Skill Rating</option>
                                <option  value="N/A">N/A</option>
                                <option  value="1.0">1.0</option>
                                <option  value="1.5">1.5</option>
                                <option  value="2.0">2.0</option>
                                <option  value="2.5">2.5</option>
                                <option  value="3.0">3.0</option>
                                <option  value="3.5">3.5</option>
                                <option  value="4.0">4.0</option>
                                <option  value="4.5">4.5</option>
                                <option  value="5.0">5.0</option>
                            </select>
              </div>-->
              <div class="row common-cls">
                <label for="last_name" class="col-md-5 col-form-label mr-2">USAPA Member Number <span class="star">*</span></label>
                <div class="col-xs-6 mbl-input padclasss">
                  <input type="number" class="form-control myfavinput" [(ngModel)]="TournamentFormObj.USAPAMemberNumber">
                </div>
              </div>

            </div>





          </div>
        </div>
      </div>
      <!--PUBLIC PROFILE div-->
      <div class="col-md-9" *ngIf="playersRegistrationobj.publicProfile">
          <!--public Profile opstionse  for mobile view-->
  <div class="breadcrumb flat  steppdiv mobilevw" *ngIf="playersRegistrationobj.publicProfile">
    <a (click)="publicProfileopstions(1)" [ngClass]="{'active':playersRegistrationobj.publicProfileForm === 1}">  PUBLIC PROFILE 1 </a>
    <a (click)="publicProfileopstions(2)" [ngClass]="{'active':playersRegistrationobj.publicProfileForm === 2}">PUBLIC PROFILE 2</a>
    <a (click)="publicProfileopstions(3)" [ngClass]="{'active':playersRegistrationobj.publicProfileForm === 3}"> PHOTOS</a>

  </div>
        <p class="playerinfoo" *ngIf="playersRegistrationobj.publicProfile">The information provided will be used to share with the public and will be updated/maintained by you. This will allow
          you the ability to share photos, pickleball information and stats on your play. This will be like other sport bios
          and as this site grows, we will add more tabs. </p>
        <!--player rigistrastion form 1-->
        <div class="row">
          <div class="col-md-3" *ngIf="playersRegistrationobj.publicProfileForm===1">
            <div class="common-clspublic">
              <label class="uploader">
                  <img class="player-img" src="assets/icon/player.png">
                  <input type="file" class="upLoadStyles" (change)="upLoadPlayerImg($event)"/>
              </label>
            </div>
            <!--<div class="userprofile">
                                 <img class="userpic" src="assets/icon/man-user.svg">
                                 <label class="uploader" >
                          <img class="userpic" src="assets/icon/player.png">
                          <input type="file" class="upLoadStyles" (change)="upLoadPlayerImg($event)"/>
                          </label>
                             </div>-->
          </div>
          <!--<div class="common-clspublic">
                            <label class="uploader" >
                          <img class="player-img" src="assets/icon/player.png">
                          <input type="file" class="upLoadStyles" (change)="upLoadPlayerImg($event)"/>
                          </label>
                            </div>-->

          <div class="container-fluid onetwothree col-md-9" *ngIf="playersRegistrationobj.publicProfileForm===1">
            <!--<div class="div-one">
                            <div>
                              <p class="player-dtl">PUBLIC PROFILE :</p>
                            </div>
                          </div>-->

            <div class="row common-clspublic">
              <label for="first_name" class="col-md-5 col-form-label mr-2">Home Town</label>
              <div class="col-xs-6 mbl-input">
                <input type="text" class="form-control myfavinput" [(ngModel)]="TournamentFormObj.Hometown">
              </div>
            </div>
            <div class="row common-clspublic">
              <label for="first_name" class="col-md-5 col-form-label mr-2">Swings</label>
              <div class="col-xs-6 mbl-input">
                <select class="maindropdownfirst" [(ngModel)]="TournamentFormObj.Swings">
                             <option selected disabled>Select Swings</option>
                              <option  value="Right Handed">Right Handed</option>
                              <option  value="Left Handed">Left Handed</option>
                              <option  value="Both">Both</option>
                            </select>
                <!--<input type="text" class="form-control myfavinput" [(ngModel)]="TournamentFormObj.Swings">-->
              </div>
            </div>
            <div class="row common-clspublic">
              <label for="first_name" class="col-md-5 col-form-label mr-2">Home Club</label>
              <div class="col-xs-6 mbl-input">
                <input type="text" class="form-control myfavinput" [(ngModel)]="TournamentFormObj.HomeClub">
              </div>
            </div>
            <div class="row common-clspublic">
              <label for="first_name" class="col-md-5 col-form-label mr-2">Sponsored Club</label>
              <div class="col-xs-6 mbl-input">
                <input type="text" class="form-control myfavinput" [(ngModel)]="TournamentFormObj.SponsoredClub">
              </div>
            </div>
            <div class="row common-clspublic">
              <label for="first_name" class="col-md-5 col-form-label mr-2">Indoor/Outdoor Preference</label>
              <div class="col-xs-6 mbl-input">
                <input type="text" class="form-control myfavinput" [(ngModel)]="TournamentFormObj.IndoorOutdoorPreference">
              </div>
            </div>
                <div class="row common-clspublic">
              <label for="first_name" class="col-md-5 col-form-label mr-2">Favorite Paddle</label>
              <div class="col-xs-6 mbl-input">
                <input type="text" class="form-control myfavinput" [(ngModel)]="TournamentFormObj.FavoritePaddle" >
              </div>
            </div>
                <div class="row common-clspublic">
              <label for="first_name" class="col-md-5 col-form-label mr-2">How long have you been playing</label>
              <div class="col-xs-6 mbl-input">
                <input type="text" class="form-control myfavinput" [(ngModel)]="TournamentFormObj.BeenPlaying">
              </div>
            </div>

          </div>

          <!--public Profile from 2-->
          <div class="container-fluid onetwothree col-md-9" *ngIf="playersRegistrationobj.publicProfileForm===2">
            <!--<div class="div-one">
              <div>
                <p class="player-dtl">PUBLIC PROFILE :</p>
              </div>
            </div>-->
            <!--<div class=" common-clspublic">
              <p class="textlabel">Favorite Paddle</p>
              <div class="col-xs-9">
                <textarea type="text" rows="5" cols="70" class="form-control myfavinput1" [(ngModel)]="TournamentFormObj.FavoritePaddle" placeholder="Favorite Paddle">
                              </textarea>
              </div>
            </div>-->
            <!--<div class=" common-clspublic">
              <p class="textlabel">How long have you been playing</p>
              <div class="col-xs-9">
                <textarea type="text" rows="5" cols="70" class="form-control myfavinput1" [(ngModel)]="TournamentFormObj.BeenPlaying" placeholder="Playing Experience">
                              </textarea>
              </div>
            </div>-->
            <div class=" common-clspublic">
              <!--<label for="first_name" class="col-md-6 col-form-label mr-2">Favorite facility/Location to play</label>-->
              
              <p class="textlabel">Favorite facility/Location to play</p>
               <p *ngIf="playersRegistrationobj.FavoriteFacilitycount===undefined" class="textcount">150</p>
                <p *ngIf="playersRegistrationobj.FavoriteFacilitycount!==undefined" class="textcount">{{playersRegistrationobj.FavoriteFacilitycount}}</p>
            
            </div>
               <div class="col-xs-12 padclasss">
                <textarea (keyup)="FavoriteFacility()" type="text" rows="5" cols="70" class="form-control myfavinput1" [(ngModel)]="TournamentFormObj.FavoriteFacility" maxlength="150">
                 </textarea>
                               
              </div>
            <div class=" common-clspublic">
              <!--<label for="first_name" class="col-md-6 col-form-label mr-2">Furthest location/Tournament you have traveled to play</label>-->
              <p class="textlabel">Furthest location/Tournament you have traveled to play</p>
              <p *ngIf="playersRegistrationobj.FurthestLocationcount===undefined" class="textcount">150</p>
                <p *ngIf="playersRegistrationobj.FurthestLocationcount!==undefined" class="textcount">{{playersRegistrationobj.FurthestLocationcount}}</p>
              
            </div>
            <div class="col-xs-12 padclasss">
                <textarea type="text" (keyup)="FurthestLocation()" rows="5" cols="70" class="form-control myfavinput1" [(ngModel)]="TournamentFormObj.FurthestLocation" maxlength="150">
                </textarea>
              </div>
            <div class=" common-clspublic">
              <!--<label for="first_name" class="col-md-6 col-form-label mr-2">Wins that you are most proud of</label>-->
              <p class="textlabel">Wins that you are most proud of </p>
              <p *ngIf="playersRegistrationobj.MostProudcount===undefined" class="textcount">150</p>
                <p *ngIf="playersRegistrationobj.MostProudcount!==undefined" class="textcount">{{playersRegistrationobj.MostProudcount}}</p>
             
            </div>
             <div class="col-xs-12 padclasss">
                <textarea type="text" (keyup)="mostProud()" rows="5" cols="70" class="form-control myfavinput1" [(ngModel)]="TournamentFormObj.MostProud" maxlength="150">
                </textarea>
              </div>
            <div class=" common-clspublic">
              <!--<label for="first_name" class="col-md-6 col-form-label mr-2">Singles/Doubles preference</label>-->
              <p class="textlabel">Singles/Doubles preference</p>
              <p *ngIf="playersRegistrationobj.SinglesDoublescount===undefined" class="textcount">150</p>
                <p *ngIf="playersRegistrationobj.SinglesDoublescount!==undefined" class="textcount">{{playersRegistrationobj.SinglesDoublescount}}</p>
             
            </div>
             <div class="col-xs-12 padclasss">
                <textarea type="text" (keyup)="SinglesOrDoubles()" rows="5" cols="70" class="form-control myfavinput1" [(ngModel)]="TournamentFormObj.SinglesDoubles" maxlength="150">
                </textarea>
              </div>
            <div class=" common-clspublic">
                <p class="textlabel">Misc information to know </p>
                <p *ngIf="playersRegistrationobj.MiscInformationcount===undefined" class="textcount">150</p>
                <p *ngIf="playersRegistrationobj.MiscInformationcount!==undefined" class="textcount">{{playersRegistrationobj.MiscInformationcount}}</p>
              
            </div>
               <div class="col-xs-12 padclasss">
                   <textarea type="text" (keyup)="MiscInformation()" rows="5" cols="70" class="form-control myfavinput1" [(ngModel)]="TournamentFormObj.MiscInformation"  maxlength="150">
                   </textarea>
              </div>
          </div>
          <!--public Profile from 3-->
          <div class="container-fluid onetwothree col-md-9 " *ngIf="playersRegistrationobj.publicProfileForm===3">
           <div class="row imagetiles" style="display: none;">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                  <img src="https://i.scdn.co/image/2fd8fa0f7ef2f83691a0fb9628ee369b8e3b688e" class="img-responsive">
               </div>
           </div>
           
           
            <div class="div-one">
              <!--<div>
                              <p class="player-dtl">PUBLIC PROFILE :</p>
                            </div>-->
              <!--<div class="common-clspublic">
                            <label class="uploader" >
                          <img class="player-img" src="assets/icon/player.png">
                          <input type="file" class="upLoadStyles" (change)="upLoadPlayerImg($event)"/>
                          </label>
                            </div>-->
              <div class="common-clspublic">
                <label class="uploader">
                          <img class="player-img" src="assets/icon/player.png">
                          <input type="file" class="upLoadStyles" (change)="upLoadPlayerImg($event)" multiple/>
                          </label>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
    <!--TournamentProfile save and back and cancle buttons div -->
    <div class="showerrormsgP" style="text-align: center;" *ngIf="playersRegistrationobj.TournamentFormerror">{{playersRegistrationobj.TournamentFormerrormsg}}</div>
    <div class="row mybtnsub" *ngIf="playersRegistrationobj.TournamentProfile">
      <div *ngIf="playersRegistrationobj.TournamentProfileForm>1">
        <button md-button class="btn btn-default submitbtns" (click)="playerRgistrationFormBack(playersRegistrationobj.TournamentProfileForm)">Back</button>
      </div>
      <div *ngIf="playersRegistrationobj.TournamentProfileForm!==3">
        <button md-button class="btn btn-default submitbtns" (click)="playerRgistrationFormNext(playersRegistrationobj.TournamentProfileForm)">Next</button>
      </div>
      <div *ngIf="playersRegistrationobj.TournamentProfileForm===3">
        <button md-button class="btn btn-default submitbtns" (click)="tournamentProfilesubmit()">Save</button>
      </div>
      <!--<div>
        <button md-button class="btn btn-default submitbtns">Cancel</button>
      </div>-->
      
    </div>
    <!--public Profile save and back and cancle buttons div -->
    <div class="row mybtnsub" *ngIf="playersRegistrationobj.publicProfile">
      <div *ngIf="playersRegistrationobj.publicProfileForm>1">
        <button md-button class="btn btn-default submitbtns" (click)="publicProfileFormBack()">Back</button>
      </div>
      <!--<div *ngIf="playersRegistrationobj.TournamentProfileForm!==2">
                              <button  class="btn btn-default submitbtns" (click)="publicProfileFormNext(playersRegistrationobj.publicProfileForm)">Next</button>
                          </div>-->
      <div>
        <button md-button class="btn btn-default submitbtns" (click)="publicProfilesubmit()">Save</button>
      </div>
      <div *ngIf="playersRegistrationobj.publicProfileForm!=3">
        <button md-button class="btn btn-default submitbtns" (click)="publicProfilesubmit()">Next</button>
      </div>
    </div>
      <!--after player signup  -->
  <div class="col-md-12 successfull" *ngIf="playersRegistrationobj.TournamentProfileForm === 0">
    <div class="container-fluid onetwothree col-md-9 onee">
      <h1 style="text-align: center;font-size: 22px;">Player successfully signup ...! <i class="fa fa-smile-o" aria-hidden="true"></i></h1>
    </div>
  </div>
  </div>
  <div class="footerstyles text-center">
    <div class="row abcded">
        <div class="col-md-4 col-lg-4 addheight">
                <img class="addslogo" src="assets/icon/footeradds.svg">
        </div>
         <div class="footerheading col-md-4 col-lg-4">Copyright<span>&#169;</span>World Of Pickleball</div>
           <div class="col-md-5 col-lg-5">
            <img class="addslogo" src="assets/icon/footeradds.svg">
        </div> 
     </div>
</div>

</div>