<div class="mainhomediv">
<div class="row homerow">
        <div class=" col-md-12 col-lg-12  contentt">
          <u class="heading"><b>WORLD OF PICKLEBALL</b></u>
          <p class="content">Pickleball was established in the summer of 1965. It has really taken off in the past 10 years with more play
                  locations to play. Just recently it has taken off globally with places, 
                  players and tournaments all over.</p>

                  <p class="content">This site will allow tournament directors to setup and run tournaments.
                           Players to register for tournaments and also be able to house a profile where they 
                          can share information about themselves from a pickleball perspective 
                          and upload photos to share for all.</p>
                  <p class="content">Local clubs can also use this site as a portal to house information about 
                          their club and use it to share information to their own members and also players outside.</p>
                  <p class="content">The shopping link will allow vendors big and small to use this site as a pass through 
                          to their site. This will allow a one stop location for players to access all things Pickleball.</p>
                  <p class="content">The clinics will give players an idea on clinics that are 
                          being offered and they can contact and get information on what is out there.</p>
        </div>

       
</div>
<div class="footerstyles text-center">
    <div class="row abcded">
        <div class="col-md-4 col-lg-4 addheight">
                <img class="addslogo" src="assets/icon/footeradds.svg">
        </div>
         <div class="footerheading col-md-4 col-lg-4">Copyright<span>&#169;</span>World Of Pickleball</div>
           <div class="col-md-5 col-lg-5">
            <img class="addslogo" src="assets/icon/footeradds.svg">
        </div> 
     </div>
</div>
<!--<div class="row homerow">
        <div class="col-md-offset-2 col-lg-offset-2 col-md-12 col-lg-12 col-md-offset-2 col-lg-offset-2">
          <u class="heading">PLAYER REGISTRATION SET UP</u>
          <p class="content" >Pickleball Canada (PCO) and United States of America 
          Pickleball Association (USAPA) have implemented the International 
          Federation of Pickleball (IFP) Rating system. This allows players
           to have the same Player Ratings in both Canada and the USA.PCO can 
           post official IFP player ratings for our members on the IFP website
            http://ipickleball.org for players who may play in skill rated tournaments in 
            the USA/Canada. Contact PCO if you want your official IFP Player Rating included in 
            the Player Ratings List (USA & Canada) on the IFP website. Your initial self
             rating must be approved by a PCO Ambassador, tournament director or rating 
             committee. Your "S" self rating may be changed to a "T" Tournament
              Rating based on tournament results.</p>
        </div>
</div> -->
</div>